@charset "UTF-8";
@import url(fonts.css);


body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black
}

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size: 16pt;
    vertical-align: baseline;
    letter-spacing: 1pt;
    font-feature-settings: "kern" 1, "clig" 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

::-moz-selection { /* Code for Firefox */
  color: #202124;
  background-color: yellow;
}

::selection {
  color: #202124;
  background-color: yellow;
}

/* Menu */
/* Menu */

#menu {
  -moz-transform: translateX(20em);
  -webkit-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
  -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  -webkit-overflow-scrolling: touch;
  background: #f64242;
  box-shadow: none;
  color: #ffffff;
  height: 100%;
  max-width: 40%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 10002;
  border-left: solid 1px #202124;
}

#menu.visible {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}


    #menu > ul {
      margin: 0 0 1em 0;
    }

      #menu > ul.links {
        list-style: none;
        padding: 0;
      }

        #menu > ul.links > li {
          padding: 0;
          font-family:"Upgrade Regular";
        }

        #menu > ul.links > li:hover {
          color:#202124;
        }

          #menu > ul.links > li > a:not(.button) {
            border-top: solid 2px yellow;
            color: inherit;
            display: block;
            line-height: 3.5em;
            text-decoration: none;
          }

          #menu > ul.links > li > .button {
            display: block;
            margin: 0.5em 0 0 0;
          }

          #menu > ul.links > li:first-child > a:not(.button) {
            border-top: 0 !important;
          }


      @media screen and (max-width: 736px) {

        #menu .close {
          height: 4em;
        }

      }


/* Layout stuff */
.logo {
    height: 60px; /* Stelt de hoogte van de logo in */
    background-color: black; /* Zwarte achtergrondkleur */
    display: flex; /* Zorgt ervoor dat de afbeelding goed wordt uitgelijnd */
    justify-content: flex-start; /* Plaatst de afbeelding aan de linkerkant */
    align-items: center; /* Centreert de afbeelding verticaal */
    padding-left: 0; /* Optioneel, voegt wat ruimte toe aan de linkerkant */
    border:none;
}
.logo img {
    height: 100%; /* Zorgt ervoor dat de afbeelding de volledige hoogte van de .logo div vult */
    width: auto; /* Handhaaft de proporties van de afbeelding */
    margin-left: 10px;
}

.box{
  max-width: 100%; /* Max breedte voor grote schermen */
}

/* BOX */
.box:nth-child(odd) {
  background-color: #CCE6F4; /* Geel voor oneven elementen */
}

.box:nth-child(even) {
  background-color: #E8F7CC; /* Rood voor even elementen */
}

/* FONTSAMPLE */
.box:nth-child(odd) > .fontSample{
  background-color: #99CEE9; /* Geel voor oneven elementen */
}

.box:nth-child(even) > .fontSample{
  background-color: #D1EF99; /* Rood voor even elementen */
}

/* TEXT */
.box:nth-child(odd) .text {
    background-color: Cornflowerblue; /* Geel voor oneven .box */
}

.box:nth-child(even) .text {
    background-color: Darkkhaki; /* Blauw voor even .box */
}

/* H2/H3 */
.box:nth-child(odd) h2, .box:nth-child(odd) h3, .box:nth-child(odd) p {
    color: Lavender; /* Geel voor oneven .box */
}

.box:nth-child(even) h2, .box:nth-child(even) h3, .box:nth-child(even) p {
    color: Lightgoldenrodyellow; /* Blauw voor even .box */
}

/* read-more-btn */
.box:nth-child(odd) .read-more-btn {
    background-color: Skyblue; /* Geel voor oneven .box */
}

.box:nth-child(even) .read-more-btn {
    background-color: Khaki; /* Blauw voor even .box */
}

.box:nth-child(odd) .read-more-btn:hover {
    background-color: Darkcyan; /* Geel voor oneven .box */
}

.box:nth-child(even) .read-more-btn:hover {
    background-color: Olive; /* Blauw voor even .box */
}

.box:nth-child(odd) button {
    color: Darkcyan; /* Geel voor oneven .box */
}

.box:nth-child(even) button {
    color: Olive; /* Blauw voor even .box */
}

.box:nth-child(odd) button:hover {
    color: Skyblue; /* Geel voor oneven .box */
}

.box:nth-child(even) button:hover {
    color: Khaki; /* Blauw voor even .box */
}

.box h2:hover{
  color: #202124;
}

.box h3{
  padding-top:0px;
  margin-top:0px;
}

.type-tester__slider__handle:hover {
  color: green;
}

.fontSample {
  display: flex;
  flex-wrap: wrap; /* Laat flex-items wrappen op kleinere schermen */
  margin: 0 auto;
  max-width: 1800px; /* Max breedte voor grote schermen */
}

.haeder{
    border-bottom: solid 1px #202124; 
}

/* Stijl voor de linkerkolom */
.fontSample .left {
  flex: 1; /* Gelijke breedte bij voldoende ruimte */
  min-width: 300px; /* Minimale breedte van elk blok */
  max-width: 50%; /* Maximaal de helft van de container */
  box-sizing: border-box;
}

/* Stijl voor de rechterkolom */
.fontSample .right {
  flex: 1;
  min-width: 300px;
  max-width: 50%;
  box-sizing: border-box;
}

.fontSample .right img {
  width: 100%;
  height: auto;
  display: block;

}

/* Info block types */
div.promo {
  background-color: red;
}
.familyInfo {
  background-color: yellow;
  color:green!important;
  border-bottom: solid 5px red;
}

/* Responsieve media query voor tablets */
@media screen and (max-width: 768px) {
  .fontSample {
    flex-direction: column; /* Schakel naar kolomlay-out */
  }

  .fontSample .right {
    order: -1; /* Plaats de afbeelding bovenaan */
  }

  .fontSample .left {
    order: 0; /* Tekst blijft onder de afbeelding */
  }

  .fontSample .left,
  .fontSample .right {
    max-width: 100%; /* Volledige breedte */
    flex: 0 0 100%; /* Blokken onder elkaar */
  }
}

div.example {
    background-color: white;
}
div.image {
    background-color: #ff0000;    
}

div.text {
    padding:20px;
    margin:20px;
}



/* Styling voor een p in een apart blok (zoals een blockquote) */
blockquote p {
  font-size: 1.25rem;
  color: #444;
  margin: 1rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid #ddd;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1rem; /* Nog kleiner voor kleinere schermen */
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 4rem; /* Iets kleiner voor betere leesbaarheid */
  }
}

#menuButton{
  position: absolute;
  right: 0px;
  z-index: 3000000;
  padding-right: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 32;
  color:white;
  font-size: 24pt!important;
}

.material-symbols-outlined:hover {
  color:yellow;
}


#header nav a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 0.75em;
    padding-right: 0.75em;
  color: inherit;
  text-decoration: none;
}

#menu > ul.links > li > a:not(.button) {
  border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
  border-top: solid 0.5px white;
  color: inherit;
  display: block;
  line-height: 3.5em;
  text-decoration: none;
}

#menu > ul.links > li > a:hover{
  color:yellow;
}

#header {
  width: 100%;
  position: fixed;
  top:0px;
  z-index: 1000;
  text-align: left;
  border-bottom: solid 1px white;
  animation: fadeIn 2s ease-in-out;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.3), /* Bovenschaduw */
              0 20px 20px rgba(0, 0, 0, 0.3);  /* Onderschaduw */
}

.slide {
  min-width: 100%;
  height: 100%; /* Vul de hoogte van de slideshow */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Vul de slide zonder vervorming */
}

/* Titel en ondertitel */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay span {
  font-size: 2.5rem;
  margin-top: 10px;
  background: none;
  width: 100%;
  color: black;
  background-color: white;
}

.overlay h3 {
  font-size: 3rem;
  margin-top: 5px;
  display: inline-block;
  color:#202124;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  background-color: white;
  opacity:70%;
  font-family:"Upgrade Regular";
  border-radius: 10px;
}

/* Animaties */
@keyframes slideShow {
  0% { transform: translateX(0); }
  10% { transform: translateX(0); }
  20% { transform: translateX(-100%); }
  30% { transform: translateX(-100%); }
  40% { transform: translateX(-200%); }
  50% { transform: translateX(-200%); }
  60% { transform: translateX(-300%); }
  70% { transform: translateX(-300%); }
  80% { transform: translateX(-400%); }
  90% { transform: translateX(-400%); }
  100% { transform: translateX(0); }
}


/* Footer Styling */
.footer {
  background-color: black; /* Zwarte achtergrond voor de footer */
  color: white; /* Witte tekst */
  padding: 20px 0; /* Ruimte boven en onder de footer */
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: solid 1px white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px; /* Optioneel: stel een maximale breedte in voor de footer */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo img {
  height: 60px; /* Pas de hoogte van het logo aan */
}

.footer-links{
  margin-right: 20px;
}

.footer-links ul {
  font-family:"Upgrade Regular";
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-left: 30px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-links ul li a:hover {
  text-decoration: underline; /* Voeg onderlijning toe bij hover */
  color: red;
}


.read-more-btn {
  display: inline-block; /* Zorg ervoor dat de knop inline wordt weergegeven */
  margin-top: 10px; /* Voeg wat ruimte boven de knop toe */
  padding: 10px 20px; /* Voeg wat padding toe om de knop groter te maken */
  font-size: 1rem; /* Stel de tekstgrootte in */
   lor: white; /* Witte tekstkleur */
  border: none; /* Verwijder de rand */
  border-radius: 20px; /* Maak de hoeken van de knop afgerond */
  cursor: pointer; /* Verander de cursor naar een pointer bij hover */
  text-align: center; /* Centreer de tekst */
  width: auto;
  font-family:"Upgrade Bold";
  letter-spacing: 1pt;
}

.read-more-btn:hover {
  background-color: #0056b3; /* Maak de achtergrondkleur donkerder bij hover */
}

.fontdueBox{
  background-color:white;
  border-top: solid 1px white; 
  border-bottom: solid 1px white; 
  display: inline-block;
  width:100%;
}

.type-tester{
  display: inline-block;
  border:none;
  width:100%;
  padding-top:1px;
  padding-bottom:10px;
  xtom:0px;
}

.type-tester:last-child {
  padding-bottom:20px;
}

.type-tester__toolbar{
  padding-top:10px;
  padding-left:30px;
}

.type-tester__text {
  padding-left:30px;  
}

.type-tester__features-button {
  padding-right: 30px;
}

.type-tester__features-button__text {
  padding-left:30px;
}

.type-tester__toolbar {
  font-family:"Upgrade Regular";
}

.type-tester__features-button button{
  color:white;
}

.buy-button{
  display: inline-block;
  border-radius: 10px;
  border: solid 1px white; 
  background-color:white;
  margin-top: 0px;
  margin-left:20px;
  margin:20px;
  font-family:"Upgrade Regular";
  font-size: 14pt;
  padding-right:20px;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  color:#202124;
}

.buy-button:hover{
  border-radius: 10px;
  border: solid 1px white; 
  font-family:"Upgrade Bold";
}

.box:nth-child(2n+1) button{
  color:#202124;
}

.box:nth-child(2n+1) button:hover{
  color:white;
}

/* Family */


<!-- Algemene reset -->
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
    height:55px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.headerBox {
    width: 100vw; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* Three Columns (30%, 30%, 30%) */
.three-columns {
    display: flex;
    background-color: #c6f6d5;
}

.cta-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Container Grid (vierkant masker) */
.container-grid.square {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drie kolommen */
    gap: 0px;
    background-color: red; /* Lichtgroene achtergrondkleur */
    height: 400px;
}

.grid-item img {
    width: 100%; /* Zorgt ervoor dat de afbeelding de breedte vult */
    height: 100%; /* Zorgt ervoor dat de afbeelding de hoogte vult */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding wordt bijgesneden zonder vervorming */
}

.headerBox, .two-columns-70, .three-columns, .number-block, .topic-block, .container-grid .square, .summary {
    width: 100%; /* De container  neemt 100% van de breedte van de pagina in beslag */
    max-width: 1200px; /* De inhoud wordt niet breder dan 1200px */   
    display: flex;
    margin: 0 auto;      
    animation: fadeIn 2s ease-in;
}

.summary {
    background: white;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
    border-radius: 10px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, p, figcaption {
  margin-top: 0; 
  margin-bottom: 10px; 
}

h1, h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

h1 {
  font-size: 5em; 
  font-family:"Upgrade";
  font-weight:Black;
  text-align: center;
  color:white;
  text-transform: uppercase; 
}

h2 {
  font-size: 3em; /* 32px */
  line-height: 1em;
  font-family:"Upgrade";
  font-weight:Bold;
  margin:0px;
  margin-top: 10px; 
  display: block;
  letter-spacing: 1px;
}

h2.sub{
  color:white;
  text-align: center;
}

h2.topic{
  font-size: 2rem;
  text-align: left;
}

h3 {
  font-size: 2.5em;
  line-height: 1em;
  font-family:"Upgrade";
  font-weight:Ultra Black;
  color: black;
  text-align: left;
  float: left;
  margin:0px;
  margin-top: 10px; 
  display: block;
  width:100vw;
  letter-spacing: 1px;
  padding-top:5px;
}

h3.sub{
  font-size: 1.8em;
  font-family:"Upgrade";
  font-weight:Bold;
}

h4 {
  font-size: 2em;
  line-height: 1em;
  font-family:"Upgrade";
  font-weight:Bold;
  color: black;
  text-align: left;
  float: left;
  margin-top: 10px;
  display: block;
  width:100%;
  letter-spacing: 1px;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.3em;
  font-family:"Upgrade";
  font-weight:Bold;
  color: black;
  text-align: left;
  margin-top: 10px; 
  letter-spacing: 1px;
}

h6 {
  font-size: 1.7rem;
  font-family:"Upgrade";
  font-weight:Bold;
  color: #888;
  font-style: italic;
  letter-spacing: 0.05em;
  text-align: left;
}

p, figcaption {
  font-family:"Upgrade";
  font-weight:Regular;
  letter-spacing: 0.02em;
  font-size: 1.1em; 
  line-height: 1.5em;
  color: #474747;
  word-wrap: break-word; 
  display:inline-block;
  margin-top: 20px;
}

p.summary {
  color: #474747;
  font-family:"Upgrade";
  font-weight:Regular;
  text-align: center;
  font-size: 2rem;
  line-height: 2.8rem;
}

figcaption{
  font-size: 0.8em; 
  line-height: 1.7em;  
  padding-left: 20px;
  padding-right: 20px;
}

/* RESPONSIVE TYPOGRAPHY */

@media screen and (max-width: 1200px) {
  h1 { font-size: 4.5rem;}
  h2 { font-size: 3rem;}
  h3 { font-size: 2.5rem;}
  h4 { font-size: 2.2rem;}
  h5 { font-size: 2.5rem;}
  h6 { font-size: 1rem;}
  p { font-size: 1.7rem;}
  p.summary { font-size: 1.7rem; line-height:1.4; }
}

@media screen and (max-width: 1000px) {
  h1 { font-size: 4.5rem;}
  h2 { font-size: 3rem;}
  h3 { font-size: 2.5rem;}
  h4 { font-size: 2.2rem;}
  h5 { font-size: 2.5rem;}
  h6 { font-size: 1rem;}
  p { font-size: 1rem;}
  p.summary { font-size: 1.7rem; line-height:1.4; }
}

@media screen and (max-width: 750px) {
  h1 {font-size: 2.8rem;}
  h2 { font-size: 2.1rem;}
  h3 { font-size: 2.5rem;}
  h4 { font-size: 1.7rem;}
  h5 { font-size: 2.5rem;}
  h6 { font-size: 1rem;}
  p.summary { font-size: 1.4rem; line-height:1.4; }
  p { font-size: 1rem;}
}

/* PARALLAX */

.parallax {
  margin: 0;
  padding: 0; 
  top: 0;
  left: 0;
  width: 100vw; /* Volledige breedte van het venster */
  height: 100vh; /* Volledige hoogte van het venster */
  position: fixed;
  background-image: url('https://bitcount.typenetwork.com/img/slider/slider_02/2.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  overflow-x: hidden;
}

/* COLUMS */

.one-colum, .two-colum, .three-colum, .four-colum, .five-colum, .six-colum,
.one-colum-flex, .two-colum-flex, .three-colum-flex, .four-colum-flex, .five-colum-flex, .six-colum-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto
}

.one-colum, .two-colum, .three-colum, .four-colum, .five-colum, .six-colum {
  max-width: 1200px;
  display: flex;
}

.flex {
  max-width: 100%;  
}

.one-item-flex, .two-items-flex, .three-items-flex, .four-items-flex, .five-items-flex, .six-items-flex,
.one-item, .two-items, .three-items, .four-items, .five-items, .six-items {
  box-sizing: border-box;
  float:left;
  display: flex;
}

.flex-item{
  width:200px;
}

.one-item {
  width:100%;
  display: flex;
  flex-direction: column;
}

.two-items, .two-items-flex {
    width:50%;
    display: flex;
    flex: 1;
}

.three-items, .three-items-flex {
    width:33.333%;
}

.four-items, .four-items-flex {
    width:25%;
}

.five-items, .five-items-flex {
    width:20%;
}

.six-items, .six-items-flex {
    width:16.6%;
}

.container {
  display: flex;
  gap: 20px; /* Ruimte tussen kolommen */
  margin: 0 auto;
  width:100vw;
  box-sizing: border-box;
}

.column {
    flex: 1;
    background-color: lightgray;
    padding: 20px;
    padding-right: 0px;
}

/* RESPONSIVE COLUMS */

@media screen and (max-width: 1000px) {
  .five-items-flex{width:25%;}
  .five-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex{width:20%;}
  .six-items-flex:nth-child(6):has(.image-block) {display:none;}
}

@media screen and (max-width: 900px) {
  .four-items-flex{width:50%;}
  .five-items-flex{width:33.333%;}
  .five-items-flex:nth-child(4):has(.image-block) {display:none;}
  .five-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex{width:25%;}
  .six-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex:nth-child(6):has(.image-block) {display:none;}
}

@media screen and (max-width: 750px) {
  .three-items-flex{width:50%;}
  .three-items-flex:nth-child(3):has(.image-block) {display:none;}
  .four-items-flex{width:50%;}
  .five-items-flex{width:50%;}
  .five-items-flex:nth-child(4):has(.image-block) {display:block;}
  .five-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex{width:33.3%;}
  .six-items-flex:nth-child(4):has(.image-block) {display:none;}
  .six-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex:nth-child(6):has(.image-block) {display:none;}
}

@media screen and (max-width: 600px) {
  .two-items-flex{width:100%;}
  .three-items-flex{width:100%;}
  .three-items-flex:nth-child(3):has(.image-block) {display:block;}
  .four-items-flex{width:100%;}
  .five-items-flex{width:100%;}
  .five-items-flex:nth-child(5):has(.image-block) {display:block;}
  .six-items-flex{width:50%;}
  .six-items-flex:nth-child(4):has(.image-block) {display:block;}
  .six-items-flex:nth-child(5):has(.image-block) {display:block;}
  .six-items-flex:nth-child(6):has(.image-block) {display:block;}
}

/* RESPONSIVE COLUMS */

@media screen and (max-width: 1200px) {
  .four-items{width:50%;}
}

@media screen and (max-width: 1000px) {
  .three-items{width:100%;}
}

@media screen and (max-width: 800px) {
  .two-items{width:100%;}
  .four-items{width:100%;}
}


/* BLOCKS */

.block{
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.3), /* Bovenschaduw */
              0 20px 20px rgba(0, 0, 0, 0.3);  /* Onderschaduw */
  border-top: solid 0.5px white; 
  border-bottom: solid 0.5px white; 
}


.scroll-section {
    position: relative;
    height: 100vh; /* Specifiek gedeelte waar de sticky begint */
    background-color: white;
    padding: 20px;
}

.sticky-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    padding: 15px;
    font-weight: bold;
    transition: position 0.3s ease;
}

.scroll-section.scrolled .sticky-element {
    position: fixed;
    top: 0;
}

.dark{
   background-color: #202121; 
}

/* COMPONENTS */

.tile {
  border: solid 0.5px gray;
  height: 100%;
  padding:10px;
}

.article { 
  width: 80%;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
}


@media screen and (max-width: 1000px) {
  .article { 
    width: 100%;
  }
}

.article-plus { 
  margin: 0 auto;
  width:100vw;
  border-top: solid 1px gray;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
  .article-plus {
    width: 1500px;
  }
}

.flex {
  width:100%;
}

.flex img {
  max-width: 100%; /* Zorgt ervoor dat de afbeelding zich schaalt */
  height: auto; /* Behoudt de aspect-ratio */
}

.firstblock{
  margin-top:60px;
}

.lastblock{
  margin-bottom: 0px;
}

.flux{
  width: 60%;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  .flux{
    margin-left: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .flux{
    margin-left: 10px;
  }
}

@media screen and (max-width: 750px) {
  .flux{
    margin-left: 10px;
  }
}

.rot{
  position: sticky;
  top: 70px;
  margin:0px;
}

.vot {
  margin-left: 10%;
  width: 100%;
  height: 300px;
  flex-grow: 1;
}

.vot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-block {
    width: 100%;
}

.image-block img {
    width: 100%;
    height: auto;
    display: block;
}

.topic {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #757575; 
  border-radius: 10px;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 750px) {
  .topc{
    margin: 0px;
  }
}

.topic-block {
    background-color: white;
    paddin-top: 20px;
    paddin-bottom: 20px;
    font-family:"Upgrade Bold";
    color:white;
}   

.topic-item {
    text-align: left;
    width: 25%;
    border: 1px solid #757575;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px;
}

.topic-img {
    width: 100%; 
    height: 160px; 
    object-fit: cover;
    padding-bottom:15px ;
}

/* TOP */

.header, 
.hero-image{ 
    position: relative;
    width: 100%;
    height: 700px;
    animation: fadeIn 2s ease-in-out;
}
/* SLIDESHOW */

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #202124;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Vul de hoogte van de header */
  display: flex;
  animation: slideShow 25s infinite;
}

.slideshow-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slideshow-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #202124;
  opacity:50%;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
}

.slideshow-arrow.left {
  left: 20px;
}

.slideshow-arrow.right {
  right: 20px;
}

/* HERO OVERLAY */
.hero-image {
    background-size: cover;
    background-position: center;
}

.hero-image-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Zorgt ervoor dat de afbeelding gecentreerd wordt */
    width: 100%; /* Zorgt ervoor dat de afbeelding de breedte vult */
    height: 100%; /* Zorgt ervoor dat de afbeelding de hoogte vult */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding wordt bijgesneden zonder vervorming */
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay-text {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Lichte transparantie achtergrond voor de tekst */
    padding: 10px;
    text-align: center;
}

.image-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


/* FONT FEATURES */

.liga{
  font-feature-settings: "liga"
}

.frac{
  font-feature-settings: "frac"
}

.tnum{
  font-feature-settings: "tnum"
}

.onum{
  font-feature-settings: "onum"
}

.sups{
  font-feature-settings: "sups"
}

.sinf{
  font-feature-settings: "sinf"
}

.c2sc{
  font-feature-settings: "c2sc"
}

.smcp{
  font-feature-settings: "smcp"
}

.zero{
  font-feature-settings: "zero"
}

/* Numbers */

.number-block {
    display: flex;
    justify-content: space-between;
    background-color: #202121;
    padding: 20px;
    font-family:"Upgrade Bold";
    color:white;
}   

.number-item {
    text-align: center;
    width: 23%;
    display: flex; /* Flexbox gebruiken om de inhoud te centreren */
    flex-direction: column; /* Zorgt ervoor dat de inhoud verticaal gestapeld wordt */
    justify-content: center; /* Verticaal centreren */
    align-items: center; /* Horizontaal centreren */
}

.number-header,
.number,
.description {
  color:white;
  padding:10px;
}

.number-header{
  font-family:"Upgrade Regular";
}
.number{
  font-family:"Upgrade Bold";  
}
.description {
  font-family:"Upgrade Regular";
}

.number-header {
    font-size: 1.2rem;
    margin-bottom: 0px; /* Ruimte tussen de header en het cijfer */
    text-align: center;
}

.number-item .number {
    font-size: 2rem;
    font-family:"Upgrade Regular";
    text-align: center;
}


.number-item .description {
    font-size: 1rem;
    text-align: center;
}

/* Three Columns (30%, 30%, 30%) */
.three-columns {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding:none;
    margin-bottom: 0px;
}

.three-columns:last-child {
    padding-bottom:40px;
}

.grid-item {
  background-color: white;
  float:left;
  text-align: left;
  margin:0px;
  text-overflow: hidden;
  text-align: left; /* Linkslijnende tekst voor de kolommen */
  position: relative;
  width: 100%; /* Zorgt ervoor dat het grid-item de breedte van zijn container aanneemt */
  overflow: hidden; /* Zorgt ervoor dat alles buiten het vierkant wordt verborgen */
}

.column {
  background-color: white;
  width: 33.333333%;
  float:left;
  text-align: left;
  margin:0px;
  text-overflow: hidden;
  text-align: left; /* Linkslijnende tekst voor de kolommen */
}

.column h2 {
  display: inline-block;
  float: left;
  font-family:"Upgrade Medium";
  text-align: left;
}

.column h3 {
  display: inline-block;
  float: left;
  width:100%;
  font-family:"Upgrade Regular";
  font-size: 30pt;
  line-height: 27pt;
  text-align: left;
}

.def{
  color:lightgray;
}

.heading {
    font-family:"Upgrade Bold";
    color:white;
    font-size: 4em;
}

/* Two Columns (70%, 30%) */
.two-columns-70 {
    display: flex;
    justify-content: space-between;
    background-color: #c6f6d5; /* Lichtgroene achtergrondkleur */
    padding: 1px;
}

.two-columns-70 .column {
    background-color: #ffffff;
    padding:0px;
}

.two-columns-70 .column img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zorgt ervoor dat de afbeelding het vierkante gebied vult zonder te vervormen */
    height: auto; /* Zorgt ervoor dat de beeldverhouding behouden blijft */
    display: block; /* Voorkomt ongewenste witruimte onder de afbeelding */
}

.two-columns-70 .column {
    width: 50%; /* Eerste kolom krijgt 70% breedte */
}

/* Animatie Fade-In */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 800px) {
  /* Maak de drie kolommen onder elkaar in plaats van naast elkaar */
  .two-columns-70{
    display: block; /* Zet de drie kolommen onder elkaar */
    padding:0px;
    height:100%;
    text-align:left;
  }

  .two-columns-70 {
    display: block; /* Zet de drie kolommen onder elkaar */
    padding:0px; 
  }

  .two-columns-70 .column:first-child, .two-columns-70 .column:last-child {
    width: 100%; /* Zorgt ervoor dat de kolommen de volledige breedte innemen */
    margin-bottom:0px; /* Ruimte tussen de kolommen */
    text-align: left; /* Optioneel, om tekst in het midden te plaatsen */
  }
}

@media screen and (max-width: 1200px) {
  /* Maak de drie kolommen onder elkaar in plaats van naast elkaar */
  .three-columns, .container-grid.square, .topic-block {
    display: block; /* Zet de drie kolommen onder elkaar */
    padding:0px;
    height:50%;
    text-align:left; 
  }

  .three-columns, .container-grid.square, .topic-block  {
    display: block; /* Zet de drie kolommen onder elkaar */
  }

  .column, .grid-item, .topic-item {
    width: 50%; /* Zorgt ervoor dat de kolommen de volledige breedte innemen */
    margin-bottom:0px; /* Ruimte tussen de kolommen */
  }
}

@media screen and (max-width: 700px) {
  /* Maak de drie kolommen onder elkaar in plaats van naast elkaar */
  .three-columns, .container-grid.square, .number-block, .topic-block  {
    display: block; /* Zet de drie kolommen onder elkaar */
    padding:0px;
    height:100%;
    text-align:left;
  }

  .three-columns, .container-grid.square, .number-block, .topic-block {
    display: block; /* Zet de drie kolommen onder elkaar */
    padding:0px;
  }

  .column, .grid-item, .number-item .topic-item {
    width: 100%; /* Zorgt ervoor dat de kolommen de volledige breedte innemen */
    margin-bottom:0px; /* Ruimte tussen de kolommen */
    text-align: left; /* Optioneel, om tekst in het midden te plaatsen */
  }
}


.liga{
  font-feature-settings: "liga"
}

.frac{
  font-feature-settings: "frac"
}

.tnum{
  font-feature-settings: "tnum"
}

.onum{
  font-feature-settings: "onum"
}

.sups{
  font-feature-settings: "sups"
}

.sinf{
  font-feature-settings: "sinf"
}

.c2sc{
  font-feature-settings: "c2sc"
}

.smcp{
  font-feature-settings: "smcp"
}

.zero{
  font-feature-settings: "zero"
}


