/* Reset */

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: none; /* or 400 */
    font-synthesis: none; /* prevent browser from faking bold/italic */
}

/* General Styles */

body {
    font-family: "Upgrade Regular", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: block;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    border-bottom: 1px white solid;
    position: fixed;
    z-index: 100;
    width: 100%;
   box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
}

/* Animation */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Font stuff */
.presti { 
    font-family: "Presti Text Normal";    
    font-feature-settings: 'ss01' 1; /* Allow flourishes as ~tru4 */
    font-weight: 400;
    letter-spacing: 0.02em;
}
.presti-bold {
    font-family: "Presti Deck Bold";    
    font-feature-settings: 'ss01' 1; /* Allow flourishes as ~tru4 */
    font-weight: 400;
    letter-spacing: 0.02em;
}


.productus {
    font-family: "Productus Book";
    font-weight: 400;
}
.productus p {
    letter-spacing: 0.04em;
}
.productus-bold {
    font-family: "Productus Bold";
    font-weight: 400;
}
.productus-bold p {
    letter-spacing: 0.04em;
}

.proforma {
    font-family: "Proforma Book";
    font-weight: 400;
}
.proforma p {
    letter-spacing: 0.02em;
}
.proforma-book {
    font-family: "Proforma Book";
    font-weight: 400;
}
.proforma-book p {
    letter-spacing: 0.02em;
}
.proforma-bold {
    font-family: "Proforma Bold";
    font-weight: 400;
}
.proforma-bold p {
    letter-spacing: 0.02em;
}
.proforma-pro {
    font-family: "TP Proforma Pro Regular";
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
}
.proforma-pro p {
    letter-spacing: 0.03em; /* Needs to be calibrated again, once the final VF is made */
    line-height: 1.3em; /* Needs to be calibrated again, once the final VF is made */
}
.proforma-pro-bold {
    font-family: "TP Proforma Pro Regular";
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 700;
}
.proforma-pro-bold p {
    letter-spacing: 0.03em; /* Needs to be calibrated again, once the final VF is made */
    line-height: 1.3em; /* Needs to be calibrated again, once the final VF is made */
}

.powerlift {
    font-family: "PowerLift Tight";    
    font-weight: 400;
    line-height: 1em; 
}
.powerlift-outline {
    font-family: "PowerLift Tight Outline";    
    font-weight: 400;
    line-height: 1em; 
}

.responder-p {
    font-family: "Responder P VF Regular";
    /* Slightly lighter, as 400 seems bolder compared to other families. */
    font-variation-settings: 'ital': 0, 'wght': 250;
}
.responder-p-bold {
    font-family: "Responder P VF Regular";
    font-variation-settings: 'ital': 0, 'wght': 600;
}

.responder-m {
    font-family: "Responder M Regular Italic";
    font-style: normal;
    font-weight: 400;
}

.upgrade {
    font-family: "Upgrade Regular";    
    font-weight: 400;
    letter-spacing: 0.02em;
}
.upgrade-bold {
    font-family: "Upgrade Bold";    
    font-weight: 400;
    letter-spacing: 0.02em;
}

.bitcount {
    font-family: "Bitcount Mono Double Regular Circle";
    font-weight: 400;
}

.size24 {
    font-size: 24px;
}
.size28 { /* Used for Responder P, optically same size as .size24 for other families */
    font-size: 28px;
}
.size36 {
    font-size: 36px;
}
.size48 {
    font-size: 48px;
}
.size56 {
    font-size: 56px;
}
.size64 {
    font-size: 64px;
}

.aalt {
    font-feature-settings: 'aalt' 1; /* Access All Alternates */
}
.liga {
    font-feature-settings: 'liga' 1; /* Ligatures is default on */
}
.no-liga {
    font-feature-settings: 'liga' 0; 
}

.frac {
    font-feature-settings: 'frac' 1; /* Fractions */    
}
.tnum {
    font-feature-settings: 'tnum' 1; /* Table figures */
}
.onum {
    font-feature-settings: 'onum' 1; /* Old style figures */
}
.sups {
    font-feature-settings: 'sups' 1; /* Superior figures  & lower case */
}
.dnom {
    font-feature-settings: 'dnom' 1; /* Denomerator figures */
}
.sinf {
    font-feature-settings: 'sinf' 1; /* Inferiors figures & lower case */
}
.numr {
    font-feature-settings: 'numr' 1; /* Numerator figures */
}
.zero {
    font-feature-settings: 'zero' 1; /* Slashed zero */
}

.smcp {
    font-feature-settings: 'smcp' 1; /* Small caps */
}
.c2sc {
    font-feature-settings: 'c2sc' 1;
}
.c2sc-smcp {
    font-feature-settings: 'smcp' 1, 'c2sc' 1;
}

.swsh {
    font-feature-settings: 'swsh' 1; /* Set of selected swashes */
}
.ss01 {
    font-feature-settings: 'ss01' 1;
}
.no-ss01 {
    font-feature-settings: 'ss01' 0;
}
.ss02 {
    font-feature-settings: 'ss02' 1;
}
.ss03 {
    font-feature-settings: 'ss03' 1;
}
.ss04 {
    font-feature-settings: 'ss04' 1;
}
.ss05 {
    font-feature-settings: 'ss05' 1;
}
.ss06 {
    font-feature-settings: 'ss06' 1;
}
.ss07 {
    font-feature-settings: 'ss07' 1;
}
.ss08 {
    font-feature-settings: 'ss08' 1;
}
.ss09 {
    font-feature-settings: 'ss09' 1;
}
.ss10 {
    font-feature-settings: 'ss10' 1;
}
.ss11 {
    font-feature-settings: 'ss12' 1;
}
.ss12 {
    font-feature-settings: 'ss12' 1;
}
.ss13 {
    font-feature-settings: 'ss13' 1;
}
.ss14 {
    font-feature-settings: 'ss14' 1;
}
.ss15 {
    font-feature-settings: 'ss15' 1;
}
.ss16 {
    font-feature-settings: 'ss16' 1;
}
.ss17 {
    font-feature-settings: 'ss17' 1;
}
.ss18 {
    font-feature-settings: 'ss18' 1;
}
.ss19 {
    font-feature-settings: 'ss19' 1;
}
.ss20 {
    font-feature-settings: 'ss20' 1;
}

.ss12-ss17 {
    font-feature-settings: 'ss12' 1, 'ss17' 1;
}
.ss12-ss18 {
    font-feature-settings: 'ss12' 1, 'ss18' 1;
}
.ss12-ss19 {
    font-feature-settings: 'ss12' 1, 'ss19' 1;
}
.ss12-ss20 {
    font-feature-settings: 'ss12' 1, 'ss20' 1;
}

/* Header logo */

header .logo { /* Floating left box with logo */
    display: block;
    float: left;
    width: 260px; /* Make distance to familyName */
}
header .familyName { /* Floating left box with current family name */
    display: block;
    float: left;
    font-size: 40px;
    text-align: left;
}
header .logo img {
    height: 50px;
}

/* Header navigation */

header .navbar {
    display: block;
    float: right;
    padding: 17px;
    animation: slideLeft 0.2s ease-out forwards;
}
header .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header .navbar li {
    margin-right: 20px;
}
header .navbar a {
    color: white;
    text-decoration: none;
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    float: right;
    padding: 10px;
    padding-right: 20px;
}

/* Slideshow */

.slideshow {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

/* Font selector */

.font-selector {
    padding: 30px;
}
.font-selector a {
    text-decoration: none;
}

/* Image cells */

div.image {
    width: 98%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    padding: 0;
}


/* Pop-up */
.popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1000;
}

.popup-content {
  background-color: #282828;
  margin-top: 70px;
  margin-left:30%;
  padding: 20px;
  width: 300px;
  max-width: 300px;
  border-radius: 5px;
  position: relative;
  animation: slideDown 0.2s ease-out forwards;
  z-index: 80;
}

.popup-content .column {
  background-color: #282828;    
}

.popup-content .column a {
  color: white;    
}


.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}


.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.column {
    flex: 1;
    width: 50%;
    min-width: 300px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}

.column p {
    margin: 0 40px 0 0;
}

.column14 {
    /*flex: 1;*/
    width: 25%;
    box-sizing: border-box;
    background-color: #F0F0F0;
}
.column34 {
    /*flex: 1;*/
    width: 75%;
    box-sizing: border-box;
    background-color: #F0F0F0;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Type testers */

div.type-tester {
    padding: 1em;
}
fontdue-type-testers {
    font-size: 8em;
    font-feature-settings: "kern" 1, "clig" 1, "liga" 1, "ss01" 1;
    padding: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    header .navbar {
        display: none;
    }
    .hamburger {
        display: block;
    }

    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
    .navbar.active {
        display: block;
        position: absolute;
        background-color: #333;
        width: 100%;
        box-align: 'right';
        top: 70px;
        z-index: 50;
        margin-left: -10px
    }
    .navbar ul {
        flex-direction: column;
    }
    .navbar li {
        margin: 10px 0;
    }

    .popup-content {
      margin-top:70px;
      margin-left:0px;
      width: 100%;
      max-width: 100%;
      border-radius: 0px;
    }

    div.image {
        position: float;
        width: 100%;
        padding: 0;
    }

    div.responsiveHide {
        display: none;
    }
    /* Type testers */

    div.type-tester {
        padding: 0.5em;
    }
    fontdue-type-testers {
        font-size: 6em;
        padding: 0;
    }

}

@media (max-width: 899px) {
  fontdue-type-testers .type-tester {
    --type-tester--adjustment: 1;
  }
