@charset "UTF-8";
@import url(fonts.css);


/* GENERAL ATTRIBUTES */


@view-transition {
  navigation: auto;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  line-height: 1;
  -webkit-text-size-adjust: none;
}

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size: 16pt;
    vertical-align: baseline;
    letter-spacing: 1pt;
    font-feature-settings: "kern" 1, "clig" 1;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  scroll-snap-type: y proximity;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


hr {
  border: none;
  height: 1px;
  width:80%;
  background: gray;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom:40px;  
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, p, figcaption {
  margin-top: 0; 
  margin-bottom: 10px; 
}

h1, h2, h2.sub, .image-block .overlay-block h2, .image-block .overlay-block p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


h1 {
  font-size: 4.3em; 
  font-family:"Upgrade";
  font-weight:Black;
  text-align: center;
  color:white;
  text-transform: uppercase; 
}

h2 {
  font-size: 3em; /* 32px */
  line-height: 1em;
  font-family:"Upgrade";
  font-weight:Bold;
  margin:0px;
  margin-top: 10px; 
  display: block;
  letter-spacing: 1px;
}

.fontSample h2 {
  text-shadow: none; 
  color:black;
}

h2.sub{
  color:white;
  text-align: center;
  font-family:"Upgrade";
  font-weight:Medium;
}

h2.topic{
  font-size: 2rem;
  text-align: left;
}

h3 {
  font-size: 2.5em;
  line-height: 1em;
  font-family:"Upgrade";
  font-weight:Ultra Black;
  color: black;
  text-align: left;
  float: left;
  margin:0px;
  margin-top: 10px; 
  display: block;
  width:100vw;
  letter-spacing: 1px;
  padding-top:5px;
}

h3.sub{
  font-size: 1.8em;
  font-family:"Upgrade Book";
}

h4 {
  font-size: 1.6em;
  line-height: 1em;
  font-family:"Upgrade";
  font-weight:Bold;
  color: black;
  text-align: left;
  float: left;
  margin-top: 10px;
  padding-bottom: 10px;
  display: block;
  width:100%;
  letter-spacing: 1px;
  position: sticky;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.3em;
  font-family:"Upgrade Medium";
  color: black;
  text-align: left;
  margin-top: 10px; 
  letter-spacing: 1px;
}

h6 {
  font-size: 1.7rem;
  font-family:"Upgrade";
  font-weight:Bold;
  color: #888;
  font-style: italic;
  letter-spacing: 0.05em;
  text-align: left;
}

p, figcaption {
  font-family:"Upgrade";
  font-weight:Regular;
  letter-spacing: 0.02em;
  font-size: 1.1em; 
  line-height: 1.5em;
  color: #474747;
  word-wrap: break-word; 
  display:inline-block;
}

p.summary {
  color: black;
  font-family:"Upgrade";
  font-weight:Regular;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

figcaption{
  font-size: 0.8em; 
  line-height: 1.7em;  
  padding-left: 20px;
  padding-right: 20px;
}

blockquote {
  font-size: 1.25rem;
  color: #444;
  margin: 1rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid #ddd;
}

.column h2 {
  display: inline-block;
  float: left;
  font-family:"Upgrade Medium";
  text-align: left;
}

.column h3 {
  display: inline-block;
  float: left;
  width:100%;
  font-family:"Upgrade Regular";
  font-size: 30pt;
  line-height: 27pt;
  text-align: left;
}

/* RESPONSIVE TYPOGRAPHY */

@media screen and (max-width: 1200px) {
  h1 { font-size: 4rem;}
  h2 { font-size: 3rem;}
  h3 { font-size: 2.5rem;}
  h4 { font-size: 1.6rem;}
  h5 { font-size: 2.5rem;}
  h6 { font-size: 1rem;}
  p.summary { font-size: 1.7rem; line-height:1.4; }
  p { font-size: 1.2rem;}
}

@media screen and (max-width: 1000px) {
  h1 { font-size: 4.5rem;}
  h2 { font-size: 3rem;}
  h3 { font-size: 2.5rem;}
  h4 { font-size: 2.2rem;}
  h5 { font-size: 2.5rem;}
  h6 { font-size: 1rem;}
  p.summary { font-size: 1.7rem; line-height:1.4; }
  p { font-size: 1rem;}
}

@media screen and (max-width: 750px) {
  h1 {font-size: 2.8rem;}
  h2 { font-size: 2.1rem;}
  h3 { font-size: 2.5rem;}
  h4 { font-size: 1.7rem;}
  h5 { font-size: 1.7rem;}
  h6 { font-size: 1rem;}
  p.summary { font-size: 1.4rem; line-height:1.4; }
  p { font-size: 1rem;}
}


/* SELECTION */

::-moz-selection {
  color: #202124;
  background-color: yellow;
}

::selection {
  color: #202124;
  background-color: yellow;
}

/* MENU */

#menu {
  -moz-transform: translateX(20em);
  -webkit-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
  -moz-transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
  -webkit-transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
  -ms-transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
  -webkit-overflow-scrolling: touch;
  background: #f64242;
  box-shadow: none;
  color: #ffffff;
  height: 100%;
  max-width: 40%;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  width: 20em;
  z-index: 10002;
  border-left: solid 1px #202124;
}

@media screen and (max-width: 1000px) {
  #menu{
    max-width: 100%;
  }
}

#menu.visible {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
}

#menuButton{
  position: fixed;
  right: 0px;
  z-index: 20002;
  padding-right: 20px;
}

#menu > ul {
  margin: 0 0 1em 0;
}

#menu > ul.links {
  list-style: none;
  padding: 0;
  font-family:"Upgrade";
}

#menu > ul.links > li {
  padding: 0;
  font-family:"Upgrade Regular";
}

#menu > ul.links > li:hover {
  color:yellow;
}

#menu > ul.links > li > a:not(.button) {
  border-top: solid 1px yellow;
  color: inherit;
  display: block;
  line-height: 3.5em;
  text-decoration: none;
}

#menu > ul.links > li > .button {
  display: block;
  margin: 0.5em 0 0 0;
}

#menu > ul.links > li:first-child > a:not(.button), #menu > ul.links > li:last-child > a:not(.button) {
  border-top: 0 !important;
  font-family:"Upgrade";
}

/* LOGO */

.logo {
    height: 60px;
    background-color: black; 
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    padding-left: 0; 
    border:none;
}
.logo img {
    height: 100%;
    width: auto;
    margin-left: 10px;
}

.box{
  max-width: 100%; 
  background-color: #CCE6F4; 
  color: Lavender; 
}

.box h2:hover{
  color: #202124;
}

.box h3{
  padding-top:0px;
  margin-top:0px;
}

/* FONTDUE */

.type-tester__slider__handle:hover {
  color: green;
}

.fontdueBox{
  background-color:white;
  border-top: solid 1px white; 
  border-bottom: solid 1px white; 
  display: inline-block;
  width:100%;
}

.type-tester{
  display: inline-block;
  border:none;
  width:100%;
  padding-top:1px;
  padding-bottom:10px;
  xtom:0px;
}

.type-tester:last-child {
  padding-bottom:20px;
}

.type-tester__toolbar{
  padding-top:10px;
  padding-left:30px;
}

.type-tester__text {
  padding-left:30px;  
}

.type-tester__features-button {
  padding-right: 30px;
}

.type-tester__features-button__text {
  padding-left:30px;
}

.type-tester__toolbar {
  font-family:"Upgrade Regular";
}

.type-tester__features-button button{
  color:white;
}

/* FONTSAMPLE */

.fontSample {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1800px;
}

.haeder{
    border-bottom: solid 1px #202124; 
}

.fontSample .left {
  flex: 1; 
  min-width: 300px;
  max-width: 50%;
  box-sizing: border-box;
}

.fontSample .right {
  flex: 1;
  min-width: 300px;
  max-width: 50%;
  box-sizing: border-box;
}

.fontSample .right img {
  width: 100%;
  height: auto;
  display: block;

}

.familyInfo {
  background-color: yellow;
  color:green!important;
  border-bottom: solid 5px red;
}


/* RESPONSIVE FONTDUE */


@media screen and (max-width: 768px) {
  .fontSample {
    flex-direction: column; /* Schakel naar kolomlay-out */
  }

  .fontSample .right {
    order: -1; /* Plaats de afbeelding bovenaan */
  }

  .fontSample .left {
    order: 0; /* Tekst blijft onder de afbeelding */
  }

  .fontSample .left,
  .fontSample .right {
    max-width: 100%; /* Volledige breedte */
    flex: 0 0 100%; /* Blokken onder elkaar */
  }
}

div.example {
    background-color: white;
}
div.image {
    background-color: #ff0000;    
}

div.text {
    padding:20px;
    margin:20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 32;
  color:white;
  font-size: 24pt!important;
}

.material-symbols-outlined:hover {
  color:yellow;
}


/* NAVIGATION BAR */

#header {
  width: 100%;
  position: fixed;
  top:0px;
  z-index: 1000;
  text-align: left;
  border-bottom: solid 1px white;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.3), /* Bovenschaduw */
              0 20px 20px rgba(0, 0, 0, 0.3);  /* Onderschaduw */
}


nav{
  margin: 0 auto;
}

#header nav a {
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  display: inline-block;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-left:10px;
  margin-right:10px;
  color: inherit;
  text-decoration: none;
}

#header nav a:hover {
  color: red;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  nav{
    display: none;
  }
}


.slide {
  min-width: 100%;
  height: 100%; 
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* OVERLAY HERO IMAGE */

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay span {
  font-size: 2.5rem;
  margin-top: 10px;
  background: none;
  width: 100%;
  color: black;
  background-color: white;
}

.overlay h3 {
  font-size: 3rem;
  margin-top: 5px;
  display: inline-block;
  color:#202124;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  background-color: white;
  opacity:70%;
  font-family:"Upgrade";
  font-weight:Medium;
  border-radius: 10px;
}

/* GENERAL ATTRIBUTES */

@keyframes slideShow {
  0%, 20% { transform: translateX(0); }
  25%, 45% { transform: translateX(-100%); }
  50%, 70% { transform: translateX(-200%); }
  75%, 95% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}

/* FOOTER */

.footer {
  background-color: black; 
  color: white; 
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: solid 1px white;
}

@media screen and (max-width: 906px) {
  .footer-links{
    display:none;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px; /* Optioneel: stel een maximale breedte in voor de footer */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo img {
  height: 60px; /* Pas de hoogte van het logo aan */
}

.footer-links{
  margin-right: 20px;
}

.read-more-btn {
  display: inline-block; 
  margin-top: 10px; /* Voeg wat ruimte boven de knop toe */
  padding: 10px 20px; /* Voeg wat padding toe om de knop groter te maken */
  font-size: 1rem; /* Stel de tekstgrootte in */
   lor: white; /* Witte tekstkleur */
  border: none; /* Verwijder de rand */
  border-radius: 20px; /* Maak de hoeken van de knop afgerond */
  cursor: pointer; /* Verander de cursor naar een pointer bij hover */
  text-align: center; /* Centreer de tekst */
  width: auto;
  font-family:"Upgrade Bold";
  letter-spacing: 1pt;
}

.read-more-btn:hover {
  background-color: #0056b3; /* Maak de achtergrondkleur donkerder bij hover */
}

/* BUY BUTTON */

.buy-button{
  display: inline-block;
  border-radius: 10px;
  border: solid 1px white; 
  background-color:white;
  margin-top: 0px;
  margin-left:20px;
  margin:20px;
  font-family:"Upgrade Regular";
  font-size: 14pt;
  padding-right:20px;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  color:#202124;
}

.buy-button:hover{
  border-radius: 10px;
  border: solid 1px white; 
  font-family:"Upgrade Bold";
}

.box:nth-child(2n+1) button{
  color:#202124;
}

.box:nth-child(2n+1) button:hover{
  color:white;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
    height:55px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.headerBox {
    width: 100vw; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.one-colum:has(.headerBox){
  position: sticky;
  background-color: white;
  top:40px;
}

.three-columns {
    display: flex;
    background-color: #c6f6d5;
}

.cta-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.container-grid.square {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drie kolommen */
    gap: 0px;
    background-color: red; /* Lichtgroene achtergrondkleur */
    height: 400px;
}

.grid-item img {
    width: 100%; /* Zorgt ervoor dat de afbeelding de breedte vult */
    height: 100%; /* Zorgt ervoor dat de afbeelding de hoogte vult */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding wordt bijgesneden zonder vervorming */
}

.headerBox, .two-columns-70, .three-columns, .number-block, .topic-block, .container-grid .square, .summary {
    width: 100%; /* De container  neemt 100% van de breedte van de pagina in beslag */
    max-width: 1200px; /* De inhoud wordt niet breder dan 1200px */   
    display: flex;
    margin: 0 auto;      
    animation: fadeIn 2s ease-in;
}

.summary {
    background: white;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
    border-radius: 10px;
}

/* PARALLAX */

.parallax {
  margin: 0;
  padding: 0; 
  top: 0;
  left: 0;
  width: 100vw; /* Volledige breedte van het venster */
  height: 100vh; /* Volledige hoogte van het venster */
  position: fixed;
  background-image: url('https://bitcount.typenetwork.com/img/slider/slider_02/2.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  overflow-x: hidden;
}

/* COLUMS */

.one-colum, .two-colum, .three-colum, .four-colum, .five-colum, .six-colum,
.one-colum-flex, .two-colum-flex, .three-colum-flex, .four-colum-flex, .five-colum-flex, .six-colum-flex {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .one-colum, .two-colum, .three-colum, .four-colum, .five-colum, .six-colum,
  .one-colum-flex, .two-colum-flex, .three-colum-flex, .four-colum-flex, .five-colum-flex, .six-colum-flex {
    display: flex;
  }
}

.container,
.one-colum, .two-colum, .three-colum, .four-colum, .five-colum, .six-colum {
  max-width: 1200px;
}

.container-flex {
  max-width: 1700px;
}

.container2, .container3, .container4 {
  max-width: 1200px;
  display: flex;
  gap: 10px;
}

.container3:has(.tile) {
  gap: 0px;
}

.container-flex, .container2, .container3, .container4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100vw;
  box-sizing: border-box;
}

.column-flex, .column2, .column3, .column3m, .column4 {
  box-sizing: border-box;
  float:left;
  padding-bottom: 20px;
} 

@media screen and (min-width: 1000px) {
  .column-flex, .column2, .column3, .column3m, .column4 {
    flex: 1;
  } 
}

@media screen and (min-width: 1200px) {
  .column-flex {width:49%;}
  .column2 {width: 49%;}
  .column3 {width: 33.3%;}
  .column3m {width: 33.3%;}
  .column4 {width: 25%;}
}

@media screen and (max-width: 1000px) {
  .column-flex {width: 49%;}
  .column2, .column3, .column4 {width: 49%;}
  .column3m {width: 100%;}
}

@media screen and (max-width: 750px) {
  .column-flex {width: 100%;}
  .column2 {width: 100%;}
  .column3 {width: 100%;}
  .column3m {width: 100%;}
  .column4 {width: 100%;}
}


.flex {
  max-width: 100%;  
}

.column.topic img, .column2.topic img {
  border-radius: 5px;
  vertical-align: bottom;
  display: inline-block;
}

.one-item-flex, .two-items-flex, .three-items-flex, .four-items-flex, .five-items-flex, .six-items-flex,
.one-item, .two-items, .three-items, .four-items, .five-items, .six-items {
  box-sizing: border-box;
  float:left;
}

@media screen and (min-width: 1000px) {
  .one-item-flex, .two-items-flex, .three-items-flex, .four-items-flex, .five-items-flex, .six-items-flex,
  .one-item, .two-items, .three-items, .four-items, .five-items, .six-items {
    flex:1;
  }
}

.flex-item{
  width:200px;
}

.one-item {
  width:100%;
  display: flex;
  flex-direction: column;
}

.two-items, .two-items-flex {
    width:50%;
    display: flex;
}

.three-items, .three-items-flex {
    width:33.333%;
}

.four-items, .four-items-flex {
    width:25%;
}

.five-items, .five-items-flex {
    width:20%;
}

.six-items, .six-items-flex {
    width:16.6%;
}

/* RESPONSIVE COLUMS */

@media screen and (max-width: 1000px) {
  .five-items-flex{width:25%;}
  .five-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex{width:20%;}
  .six-items-flex:nth-child(6):has(.image-block) {display:none;}
}

@media screen and (max-width: 900px) {
  .four-items-flex{width:50%;}
  .five-items-flex{width:33.333%;}
  .five-items-flex:nth-child(4):has(.image-block) {display:none;}
  .five-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex{width:25%;}
  .six-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex:nth-child(6):has(.image-block) {display:none;}
}

@media screen and (max-width: 750px) {
  .three-items-flex{width:50%;}
  .three-items-flex:nth-child(3):has(.image-block) {display:none;}
  .four-items-flex{width:50%;}
  .five-items-flex{width:50%;}
  .five-items-flex:nth-child(4):has(.image-block) {display:block;}
  .five-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex{width:33.3%;}
  .six-items-flex:nth-child(4):has(.image-block) {display:none;}
  .six-items-flex:nth-child(5):has(.image-block) {display:none;}
  .six-items-flex:nth-child(6):has(.image-block) {display:none;}
}

@media screen and (max-width: 600px) {
  .two-items-flex{width:100%;}
  .three-items-flex{width:100%;}
  .three-items-flex:nth-child(3):has(.image-block) {display:block;}
  .four-items-flex{width:100%;}
  .five-items-flex{width:100%;}
  .five-items-flex:nth-child(5):has(.image-block) {display:block;}
  .six-items-flex{width:50%;}
  .six-items-flex:nth-child(4):has(.image-block) {display:block;}
  .six-items-flex:nth-child(5):has(.image-block) {display:block;}
  .six-items-flex:nth-child(6):has(.image-block) {display:block;}
}

/* SCROLL ANCHOR */

<<<<<<< Updated upstream
.block, .block-small{
  scroll-snap-align: start;
}

@media screen and (max-width: 1000px) {
  .block, .block-small
  .image-block, .text-block, .rot, .tile,
  .one-item-flex, .two-items-flex, .three-items-flex, .four-items-flex, .five-items-flex, .six-items-flex,
  .container-flex, .container2, .container3, .container4,
  .column2, .column3, .column3m, .column4 {
    scroll-snap-align: start;    
  }
=======
.block, .block-small,
.image-block, .text-block, .rot, .tile,
.one-item-flex, .two-items-flex, .three-items-flex, .four-items-flex, .five-items-flex, .six-items-flex,
.container-flex, .container2, .container3, .container4,
.column2, .column3, .column3m, .column4 {
  scroll-snap-align: start; 
>>>>>>> Stashed changes
}

/* BLOCKS */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.block, .block-small{
  width: 100vw;
  background-color: white;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.3), /* Bovenschaduw */
              0 20px 20px rgba(0, 0, 0, 0.3);  /* Onderschaduw */
  border-top: solid 0.5px white; 
  border-bottom: solid 0.5px white; 
  animation: fadeIn 1s ease-out forwards;
}

/* BLOCK TYPES */

.block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.block-small {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* STICKY */

.scroll-section {
    position: relative;
    height: 100vh;
    background-color: white;
    padding: 20px;
}

.sticky-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    padding: 15px;
    font-weight: bold;
    transition: position 0.3s ease;
}

.scroll-section.scrolled .sticky-element {
    position: fixed;
    top: 0;
}

.dark{
   background-color: #202121; 
}

/* CODE */

.css-code {
    background: #eee;
    border: solid 0.5px #eee;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    border-radius: 5px;
    text-align: left;
    white-space: pre;
    margin-top: 20px;
}

.css-code:hover {
  border: solid 0.5px gray;
}

/* TILE */

.tile {
  border: solid 0.5px gray;
  height: 100%;
  padding:10px;
}

.article { 
  width: 80%;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
}


@media screen and (max-width: 1000px) {
  .article { 
    width: 100%;
  }
}

.article-plus { 
  margin: 0 auto;
  width:100vw;
  border-top: solid 1px gray;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
  .article-plus {
    width: 1500px;
  }
}

.flex {
  width:100%;
}

.flex img {
  max-width: 100%; 
  height: auto; 
    width:100vw;
}

.firstblock{
  margin-top:60px;
}

.lastblock{
  margin-bottom: 0px;
}

.flux{
  margin-left: 200px;
  float:right;
  margin-right:50px;
}

@media screen and (max-width: 1400px) {
  .flux{
    margin-left: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .flux{
    margin-left:0px;
  }
  .flux img {
    display: block;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .flux{
    margin:0px;
  }
  .flux img {
    display: block;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
  }
}

.rot{
  position: sticky;
  top: 70px;
  margin:0px;
}

.rot img, .topic img {
  border-radius: 5px;
}

@media screen and (max-width: 1700px) {
  .rot img {
    border-radius: 5px 0 0 5px;
  }
}

@media screen and (max-width: 1000px) {
  .rot img {
    border-radius: 5px;
  }
}

@media screen and (max-width: 750px) {
  .rot img {
    border-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  .topic img {
    border-radius: 0;
  }
}

.vot {
  margin-left: 10%;
  width: 100%;
  height: 300px;
  flex-grow: 1;
}

.vot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* IMAGE BLOCK */

.image-block .overlay-block {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); 
  font-family:"Upgrade";
  font-weight:Regular;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  flex-direction: column;
}

.image-block .overlay-block h2 {
  font-size: 32px;
  font-family:"Upgrade";
  font-weight:Regular;
  margin: 0 auto;
}

.image-block .overlay-block p{
  font-size: 26pt;
}

.image-block .overlay-block h2, .image-block .overlay-block p{
  color:white;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 750px) {

}

.image-block:hover .overlay-block {
  opacity: 1;
}

.image-block {
  width: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.grid .image-block{
  border: solid 0.25px gray; 
}

.image-block img {
  width: 100%;
  height: auto;
  display: block;
}

.two-colum-flex .image-block:hover img,
.three-colum-flex .image-block:hover img,
.four-colum-flex .image-block:hover img,
.five-colum-flex .image-block:hover img,
.six-colum-flex .image-block:hover img {
  filter: brightness(80%);
  transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* TOPIC */

.topic {
  margin-bottom: 20px;
  padding-bottom:20px;
  border-radius: 10px;
  border: solid 1px gray; 
  height:100%;
}

.text-block{
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .topic{
    margin-left:0px;
    margin-right:10px;
    padding:10px;
  }
}

@media screen and (max-width: 1000px) {
  .topic{
    margin-left:10px;
    margin-right:10px;
    padding:10px;
  }
  .text-block{
    padding: 20px;
  }
}

@media screen and (max-width: 750px) {
  .topic{
    margin-left:0px;
    margin-right:0px;
    padding:0px;
    border:none;
    border-top: solid 1px gray; 
    border-radius: 0px;
  }
  .text-block{
    padding: 20px;
  }
}

.topic-block {
    background-color: white;
    paddin-top: 20px;
    paddin-bottom: 20px;
    font-family:"Upgrade Bold";
    color:white;
}   

.topic-item {
    text-align: left;
    width: 25%;
    border: 1px solid #757575;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px;
}

.topic-img {
    width: 100%; 
    height: 160px; 
    object-fit: cover;
    padding-bottom:15px ;
}

/* TOP */

.header, 
.hero-image, .hero-image-last{ 
    position: relative;
    width: 100%;
    height: 700px;
    animation: fadeIn 1s ease-in-out;
}

.hero-image-last{
  box-shadow: inset 0px 60px 100px rgba(0,0,0, 1);
}

.hero-image-small{ 
    position: relative;
    width: 100%;
    height: 400px;
    box-shadow: inset 0px 60px 100px rgba(0,0,0, 1);
    border-bottom: solid 1px black;
}

.hero-image-small {
    position: relative;
    display: inline-block;
    overflow: hidden; 
}

.hero-image-small::before {
    content: "";
    position: absolute;
    inset: 0; /* Bedekt de gehele div */
    box-shadow: inset 0px -30px 30px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    z-index: 2;
}

.hero-image-img {
    width: 100%;
    display: block;
}


/* SLIDESHOW */

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #202124;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Vul de hoogte van de header */
  display: flex;
  animation: slideShow 25s infinite;
}

.slideshow-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slideshow-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #202124;
  opacity:50%;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
}

.slideshow-arrow.left {
  left: 20px;
}

.slideshow-arrow.right {
  right: 20px;
}

/* HERO OVERLAY */

.hero-image {
    background-size: cover;
    background-position: center;
}

.hero-image-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Zorgt ervoor dat de afbeelding gecentreerd wordt */
    width: 100%; /* Zorgt ervoor dat de afbeelding de breedte vult */
    height: 100%; /* Zorgt ervoor dat de afbeelding de hoogte vult */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding wordt bijgesneden zonder vervorming */
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width:100%;
}

.overlay-text {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Lichte transparantie achtergrond voor de tekst */
    padding: 10px;
    text-align: center;
}

.image-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


/* FONT FEATURES */

.def{
  color:lightgray;
}

@media screen and (max-width: 1200px) {
  .tile h5 {font-size: 1.2em}
  .tile h6 {font-size: 2em}
}


@media screen and (max-width: 1000px) {
  .tile h5 {font-size: 1em}
  .tile h6 {font-size: 2em}
}

@media screen and (max-width: 750px) {
  .tile{width:100vw}
  .tile h5 {font-size: 1em}
  .tile h6 {font-size: 2em;}
}

.liga{
  font-feature-settings: "liga"
}

.frac{
  font-feature-settings: "frac"
}

.tnum{
  font-feature-settings: "tnum"
}

.onum{
  font-feature-settings: "onum"
}

.sups{
  font-feature-settings: "sups"
}

.sinf{
  font-feature-settings: "sinf"
}

.c2sc{
  font-feature-settings: "c2sc"
}

.smcp{
  font-feature-settings: "smcp"
}

.zero{
  font-feature-settings: "zero"
}

/* NUMBERS */

.number-header,
.number,
.description {
  color:white;
}

.number-header{
}
.number{
}
.description {
}

.counter {
    font-size: 2rem;
    margin: 10px 0;
    color: white;
    font-family:"Upgrade";
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 6s linear;
}

#stats {
    text-align: center;
    padding: 50px 0;
    background: white;
}

.number-header {
  font-size: 1.2rem;
  margin-bottom: 0px;
  text-align: center;
  font-weight: Regular;
  color: white;
  font-family:"Upgrade";
  font-weight:Medium;
}

.number-item .number {
  font-size: 2rem;
  font-family:"Upgrade Regular";
  text-align: center;
}

.number-item .description {
  font-size: 1rem;
  text-align: center;
}

.heading {
    font-family:"Upgrade Bold";
    color:white;
    font-size: 4em;
}

/* IMAGE OVERLAY */

.overlayBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.overlayBox img {
    max-width: 80%;
    max-height: 80%;
}
.close-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.nav-arrow.left { left: 20px; }
.nav-arrow.right { right: 20px; }


