/* Auto scroll snap */

@view-transition {
  navigation: auto;
}

.row, .column {
  scroll-snap-align: start; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 61px;
  scroll-snap-type: y proximity;
}

/* Reset */

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: none; /* or 400 */
    font-synthesis: none; /* prevent browser from faking bold/italic */
}
h2 a:link, h2 a:visited, h2 a:active {
    font-family: "Upgrade Medium";    
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    color: #202020;
}
h2 a:hover {
    color: #808080;
}
.leading13 {
    line-height: 1.3em;
}
.leading14 {
    line-height: 1.4em;
}
.leading15 {
    line-height: 1.5em;
}

/* General Styles */

body {
  font-family: "Upgrade Regular", sans-serif; 
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  background-color: white;
  width: 100vw;
  overflow-x: hidden;
  line-height: 1;
  -webkit-text-size-adjust: none;
}

header {
    display: block;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    border-bottom: 1px white solid;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
    z-index: 20000;
  animation: slideDown 0.4s ease-out forwards;

}

/* Animation */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.top-under-menu {
    padding-top: 5em;
}
.name-title {
    font-size: 5em;  
    padding-top: 0.25em; 
    text-align: center; 
}
.name-title a {
    text-decoration: none;
    color: black;
}
.name-title a:hover {
    color: #808080;
}

/* Font stuff */

.presti { 
    font-family: "Presti Text Normal";    
    font-feature-settings: 'ss01': 1, 'liga': 1; /* Allow flourishes as ~tru4 */
    font-weight: 400;
    letter-spacing: 0.02em;
}
.presti-bold {
    font-family: "Presti Deck Bold";    
    font-feature-settings: 'ss01': 1, 'liga': 1; /* Allow flourishes as ~tru4 */
    font-weight: 400;
    letter-spacing: 0.02em;
}
.presti p {
    line-height: 1.3em;
    font-feature-settings: 'ss01': 1, 'liga': 1; /* Allow flourishes as ~tru4 */
}

.productus {
    font-family: "Productus Book";
    font-weight: 400;
}
.productus p {
    letter-spacing: 0.04em;
    line-height: 1.3em;
}
.productus-bold {
    font-family: "Productus Bold";
    font-weight: 400;
}
.productus-bold p {
    letter-spacing: 0.04em;
    line-height: 1.3em;
}

.proforma-classic {
    font-family: "Proforma Classic Book";
    font-weight: 400;
}
.proforma-classic p {
    letter-spacing: 0.02em;
    line-height: 1.3em;
}
.proforma-classic-book {
    font-family: "Proforma Classic Book";
    font-weight: 400;
}
.proforma-classic-book p {
    letter-spacing: 0.015em;
    line-height: 1.3em;
}
.proforma-classic-bold {
    font-family: "Proforma Classic Bold";
    font-weight: 400;
}
.proforma-classic-bold p {
    letter-spacing: 0.015em;
    line-height: 1.3em;
}
.proforma-pro {
    font-family: "TP Proforma Pro Regular";
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
}
.proforma-pro p {
    letter-spacing: 0.03em; /* Needs to be calibrated again, once the final VF is made */
    line-height: 1.3em; /* Needs to be calibrated again, once the final VF is made */
}
.proforma-pro-bold {
    font-family: "TP Proforma Pro Regular";
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 700;
}
.proforma-pro-bold p {
    letter-spacing: 0.03em; /* Needs to be calibrated again, once the final VF is made */
    line-height: 1.3em; /* Needs to be calibrated again, once the final VF is made */
}

.powerlift {
    font-family: "PowerLift Tight";    
    font-weight: 400;
}
.powerlift p {
    line-height: 1em; 
}
.powerlift-outline {
    font-family: "PowerLift Tight Outline";    
    font-weight: 400;
}
.powerlift-outline p {
    line-height: 1em; 
}

.responder-p {
    font-family: "Responder P VF Regular";
    /* Slightly lighter, as 400 seems bolder compared to other families. */
    font-variation-settings: 'ital': 0, 'wght': 250, 'liga': 1;
}
.responder-p-bold {
    font-family: "Responder P VF Regular";
    font-variation-settings: 'ital': 0, 'wght': 600, 'liga': 1;
}
.responder-p p {
    line-height: 1.3em;
}
.responder-m {
    font-family: "Responder M Regular Italic";
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
}

.upgrade {
    font-family: "Upgrade Regular";    
    font-weight: 400;
    letter-spacing: 0.02em;
}
.upgrade-bold {
    font-family: "Upgrade Bold";    
    font-weight: 700;
    letter-spacing: 0.02em;
}
.upgrade-semibold {
    font-family: "Upgrade Semibold";    
    font-weight: 500;
    letter-spacing: 0.02em;
}
.upgrade-medium {
    font-family: "Upgrade Medium";    
    font-weight: 500;
    letter-spacing: 0.02em;
}
.upgrade-thin {
    font-family: "Upgrade Thin";    
    font-weight: 200;
    letter-spacing: 0.02em;
}
.upgrade-light {
    font-family: "Upgrade Light";    
    font-weight: 300;
    letter-spacing: 0.02em;
}
.upgrade p {
    line-height: 1.3em;
}

.bitcount {
    font-family: "Bitcount Mono Double Regular Circle";
    font-weight: 400;
}
.bitcount p {
    line-height: 1.3em;
}

.leading14 {
    line-height: 1.4em;
}

.size24 {
    font-size: 24px;
}
.size28 { /* Used for Responder P, optically same size as .size24 for other families */
    font-size: 28px;
}
.size36 {
    font-size: 36px;
}
.size48 {
    font-size: 48px;
}
.size56 {
    font-size: 56px;
}
.size64 {
    font-size: 64px;
}

.aalt {
    font-feature-settings: 'aalt' 1; /* Access All Alternates */
}
.liga {
    font-feature-settings: 'liga' 1; /* Ligatures is default on */
}
.no-liga {
    font-feature-settings: 'liga' 0; 
}

.frac {
    font-feature-settings: 'frac' 1; /* Fractions */    
}
.tnum {
    font-feature-settings: 'tnum' 1; /* Table figures */
}
.onum {
    font-feature-settings: 'onum' 1; /* Old style figures */
}
.sups {
    font-feature-settings: 'sups' 1; /* Superior figures  & lower case */
}
.dnom {
    font-feature-settings: 'dnom' 1; /* Denomerator figures */
}
.sinf {
    font-feature-settings: 'sinf' 1; /* Inferiors figures & lower case */
}
.numr {
    font-feature-settings: 'numr' 1; /* Numerator figures */
}
.zero {
    font-feature-settings: 'zero' 1; /* Slashed zero */
}

.smcp {
    font-feature-settings: 'smcp' 1; /* Small caps */
}
.c2sc {
    font-feature-settings: 'c2sc' 1;
}
.c2sc-smcp {
    font-feature-settings: 'smcp' 1, 'c2sc' 1;
}

.swsh {
    font-feature-settings: 'swsh' 1; /* Set of selected swashes */
}
.ss01 {
    font-feature-settings: 'ss01' 1;
}
.no-ss01 {
    font-feature-settings: 'ss01' 0;
}
.ss02 {
    font-feature-settings: 'ss02' 1;
}
.ss03 {
    font-feature-settings: 'ss03' 1;
}
.ss04 {
    font-feature-settings: 'ss04' 1;
}
.ss05 {
    font-feature-settings: 'ss05' 1;
}
.ss06 {
    font-feature-settings: 'ss06' 1;
}
.ss07 {
    font-feature-settings: 'ss07' 1;
}
.ss08 {
    font-feature-settings: 'ss08' 1;
}
.ss09 {
    font-feature-settings: 'ss09' 1;
}
.ss10 {
    font-feature-settings: 'ss10' 1;
}
.ss11 {
    font-feature-settings: 'ss12' 1;
}
.ss12 {
    font-feature-settings: 'ss12' 1;
}
.ss13 {
    font-feature-settings: 'ss13' 1;
}
.ss14 {
    font-feature-settings: 'ss14' 1;
}
.ss15 {
    font-feature-settings: 'ss15' 1;
}
.ss16 {
    font-feature-settings: 'ss16' 1;
}
.ss17 {
    font-feature-settings: 'ss17' 1;
}
.ss18 {
    font-feature-settings: 'ss18' 1;
}
.ss19 {
    font-feature-settings: 'ss19' 1;
}
.ss20 {
    font-feature-settings: 'ss20' 1;
}

.ss12-ss17 {
    font-feature-settings: 'ss12' 1, 'ss17' 1;
}
.ss12-ss18 {
    font-feature-settings: 'ss12' 1, 'ss18' 1;
}
.ss12-ss19 {
    font-feature-settings: 'ss12' 1, 'ss19' 1;
}
.ss12-ss20 {
    font-feature-settings: 'ss12' 1, 'ss20' 1;
}

/* Header logo */

header .logo { /* Floating left box with logo */
    display: block;
    float: left;
    width: 260px; /* Make distance to familyName */
}
header .familyName { /* Floating left box with current family name */
    display: block;
    float: left;
    font-size: 40px;
    text-align: left;
    /* padding-top: 0.12em; */
    transform: translateY(calc(0.105em)); /* shift so baseline hits 50px */

}
header .logo img {
    height: 50px;
}
header .smallLogo { /* Text logo for really small screen sizes, no space for image */
    transform: translateY(calc(0.4em)); /* shift so baseline hits 50px */
    display: none;
}
header .smallLogo a { /* Text logo for really small screen sizes, no space for image */
    color: white;
    font-family: "Upgrade Semibold";
    font-size: 38px;
    letter-spacing: 0.25em;
    text-decoration: none;
}
header .smallLogo a:hover { /* Text logo for really small screen sizes, no space for image */
    color: #E0E0E0;
}

/* Header navigation */

header .navbar {
    display: block;
    float: right;
    padding: 17px;
    animation: slideLeft 0.2s ease-out forwards;
}
header .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header .navbar li {
    margin-right: 20px;
}
header .navbar a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
header .navbar a:hover {
    color: #E0E0E0;
    text-decoration: none;
}
header .hamburger {
    display: none;
    position: absolute;
    top:0px;
    right:0px;
    font-size: 30px;
    cursor: pointer;
    float: right;
    padding: 20px;
    padding-right: 40px;
}

/* Slideshow */

.slideshow {
    padding-top: 60px;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

/* Font selector */

.font-selector {
    padding: 30px;
}
.font-selector a {
    text-decoration: none;
}

/* Image cells */

div.image {
    width: 98%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    padding: 0;
}


/* Pop-up */
.popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1000;
}

.popup-content {
  background-color: #282828;
  margin-top: 70px;
  margin-left:250px;
  padding: 20px;
  width: 300px;
  max-width: 300px;
  border-radius: 5px;
  position: relative;
  animation: slideDown 0.2s ease-out forwards;
}

.popup-content .column {
  background-color: #282828;    
}

.popup-content .column a {
  color: white;    
}

.familyName:hover, .close:hover, .navbar a:hover,
.popup-content:hover .column a:hover {
    color: #D0D0D0;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
    flex: 1;
    width: 50%;
    min-width: 300px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}

.column p {
    margin: 0 40px 0 0;
}

.column14 {
    /*flex: 1;*/
    width: 25%;
    padding-right: 12px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}
.column34 {
    /*flex: 1;*/
    width: 75%;
    padding-right: 12px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}

.column13 {
    /*flex: 1;*/
    width: 33%;
    padding-right: 12px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}
.column23 {
    /*flex: 1;*/
    width: 66%;
    padding-right: 12px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}

/* Footer */
footer {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    */
}
footer div {
    width: 90%;
}
/* Type testers */

div.type-tester {
    padding: 1em;
    width: 98%;
}
fontdue-type-testers {
    font-size: 8em;
    font-feature-settings: "kern" 1, "clig" 1, "liga" 1, "ss01" 1, "frac" 1;
    padding: 0;

    width: 100% !important;
    max-width: 100% !important;
    display: block;
}

/* Buy button */

button.buy-button {
    font-size: 1.5em;
    padding: 0.4em;
    background-color: #AAAAAA;
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    border-radius: 6px;       /* small rounded corners */
    border: none;             /* optional: remove default border */

    outline: 1px solid transparent;
    outline-offset: 1px; /* optional: moves the outline away a bit */
    transition: outline-color 0.2s ease;
}

button:hover {
    /*outline-color: #007bff;*/
}
/* Media Queries */

/* Extra Small Phones (320–359px) */
@media (max-width: 359px) { 
    header {
        background-color: brown; /* Testing responsive */
    }    
    header .navbar, header .familyName, header .logo {
        display: none;
    }
    header .hamburger, header .smallLogo {
        display: block;
    }
    button.buy-button {
        display: block;
        margin: 1em auto 0;
    }
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .column p, .column h1, .column h2 {
        padding-left: 16px;
        padding-right: 16px;
    }
    div.column14, div.column34 {
        width: 100%;
        padding: 16px;
    }
    div.responsiveHide, div.familyName, img.responsiveHide {
        display: none;
    }
}
/* Small Phones (360–399px) */
@media (min-width: 360px) and (max-width: 399px) { 
    header {
        background-color: lightgray; /* Testing responsive */
    }    
    header .navbar, header .familyName {
        display: none;
    }
    header .hamburger {
        display: block;
    }
    button.buy-button {
        display: block;
        margin: 1em auto 0;
    }
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .column p, .column h1, .column h2 {
        padding-left: 16px;
        padding-right: 16px;
    }
    div.column14, div.column34 {
        width: 100%;
        padding: 16px;
    }
    div.responsiveHide, div.familyName, img.responsiveHide {
        display: none;
    }
}
/* Medium Phones (400–479px) */
@media (min-width: 400px) and (max-width: 479px) { 
    header {
        background-color: orange; /* Testing responsive */
    }    
    header .navbar, header .familyName {
        display: none;
    }
    header .hamburger {
        display: block;
    }
    button.buy-button {
        display: block;
        margin: 1em auto 0;
    }
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .column p, .column h1, .column h2 {
        padding-left: 16px;
        padding-right: 16px;
    }
    div.column14, div.column34 {
        width: 100%;
        padding: 16px;
    }
    div.responsiveHide, div.familyName, img.responsiveHide {
        display: none;
    }
}
/* Large Phones (480–599px) */
@media (min-width: 480px) and (max-width: 599px) { 
    header {
        background-color: pink; /* Testing responsive */
    }    
    header .navbar, header .familyName {
        display: none;
    }
    header .hamburger {
        display: block;
    }
    button.buy-button {
        display: block;
        margin: 1em auto 0;
    }
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .column p, .column h1, .column h2 {
        padding-left: 16px;
        padding-right: 16px;
    }
    div.column14, div.column34 {
        width: 100%;
        padding: 16px;
    }
    div.responsiveHide, div.familyName, img.responsiveHide {
        display: none;
    }
}
/* Small Tablets (600–767px) */
@media (min-width: 600px) and (max-width: 767px) { 
    header {
        background-color: gray; /* Testing responsive */
    }    
    header .familyName {
        display: none;
    }
    button.buy-button {
        display: block;
        margin: 1em auto 0;
    }
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .column p, .column h1, .column h2 {
        padding-left: 16px;
        padding-right: 16px;
    }
    div.column14, div.column34 {
        width: 100%;
        padding: 16px;
    }
    div.responsiveHide, div.familyName, img.responsiveHide {
        display: none;
    }
}
/* Medium Tablets (768–991px) */
@media (min-width: 768px) and (max-width: 991px) { 
    header {
        background-color: purple; /* Testing responsive */
    }    
    header .familyName {
        display: none;
    }
    fontdue-type-testers .type-tester {
    --type-tester--adjustment: 1;
    }
    .name-title {
    font-size: 4em;  
    }
}
/* Large Tablets / Small Desktop (992–1199px) */
@media (min-width: 992px) and (max-width: 1199px) { 
    header {
        background-color: blue; /* Testing responsive */
    }    
}
/* Desktop (1200–1599px) */
@media (min-width: 1200px) and (max-width: 1599px) { 
    header {
        background-color: pink; /* Testing responsive */
    }    
    .row{
        width: 1500px;
        margin:0 auto;
    }
}
/* Large Desktop (1600px+) */
@media (min-width: 1600px) { 
    header {
        background-color: yellow; /* Testing responsive */
    }    
    .row{
        width: 1500px;
        margin:0 auto;
    }
}



div.type-tester {
    padding-top: 0px;
    padding-bottom: 0px;
}
