<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/type-try-logo.gif" alt="Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            ☰
        </div>
    </header>

    <section class="slideshow">
        <div class="slide active" style="background-image: url('images/2020/Upgrade-bookCoverPages2.gif');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_02.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_03.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_04.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_06_Chocolate_heaven_neon.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_07_looking_at_art.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_08_buddha_cat_sits.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_09_freekdejonge.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_10_if_typedesign.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_2023_01.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_Its the end of the wordl_01.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_pure_care_02.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_songs of love and hate_01.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti_in_use_vietnamees_bier_01.jpg');"></div>
        <div class="slide" style="background-image: url('images/2022/Presti-Typetr_font samples_03_valentine.jpg');"></div>
    </section>

    <section class="content">
        <div class="row">
            <div class="column">
                <div class="image" style="background-image: url('images/2022/Presti_in_use_songs of love and hate_01.jpg');"></div>
            </div>
            <div class="column">
               <h1>About</h1>
                <p>This is a paragraph in the second column of the first row.</p>
            </div>
        </div>

        <div class="row">
            <div class="column">
               <h1>About</h1>
                <p>This is a paragraph in the first column of the second row.</p>
            </div>
            <div class="column">
               <h1>About</h1>
                <p>This is a paragraph in the second column of the second row.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>Copyright © 2025</p>
    </footer>

    <script src="js/scripts.js"></script>
</body>
</html>
