<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TYPETR | Bitcount</title>
  <link rel="icon" type="image/x-icon" href="images/logos/typetr.ico">
  <meta name="description" content="TYPETR offers high-quality font licenses for desktop, web, and app use. Explore modern, professional, and multilingual typefaces.">
  <link rel="canonical" href="https://typetr.com/">

  <!-- Favicons -->
  <link rel="icon" href="/images/logos/typetr.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/logos/typetr.png">


  <!-- ✅ Performance Hints -->
  <link rel="preconnect" href="https://fonts.fontdue.com/typetr">
  <link rel="preload" href="css/styles.css" as="style">
  <link rel="stylesheet" href="css/styles.css">


    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">

    <!-- Bitcount Mono -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5Nzk0NTI3NTk2NzcyNA%3D%3D.css" rel="stylesheet">

    <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.com/fontdue.js"></script>

    <script>
     fontdue.initialize({
        url: "https://store.typetr.com",
      config: {
        typeTester: {      
          min: 6,
          max: 480,
          selectable: true,
          textInput: true,
          groupEdit: false,
          initialMode: 'local',
          truncate: 'true',
          shy: false,
          buyButton: false,
          selectButtonLabel: 'Buy',
          selectButtonStyle: 'solid',
          },
      },
    });
  </script>
 
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/type-try-logo.gif" alt="Logo">
            </a>
        </div>
        <div class="familyName bitcount" onclick="document.getElementById('popup').style.display='block'" style="font-size: 53px;"> <!-- Align to baseline of logo -->
            Bitcount
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Fonts</a></li>
                <!--<li><a href="about.html">About</a></li>-->
                <li><a href="eulas.html">EULA</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            ☰
        </div>
    </header>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="document.getElementById('popup').style.display='none'">&times;</span>
        <section class="content">
          <div class="row">
            <div class="column font-selector size36 leading14">
              <p class="proforma-pro"><a href="proforma-pro.html">Proforma&nbsp;Pro</a></p>
              <p class="proforma-classic"><a href="proforma-classic.html">Proforma&nbsp;Classic</a></p> 
              <p class="upgrade"><a href="upgrade.html">Upgrade</a></p>
              <p class="presti"><a href="presti.html">Presti&nbsp;</a></p> 
              <p class="responder-p"><a href="responder-p.html">Responder&nbsp;P</a></p> 
              <p class="powerlift-outline"><a href="powerlift.html">PowerLift</a></p>
              <p class="productus"><a href="productus.html">Productus</a></p> 
              <p class="bitcount"><a href="bitcount.html">Bitcount</a></p> 
            </div>
          </div>
        </section>
      </div>
    </div>

    <section class="content">

        <div class="row type-tester"> <!-- Upgrade type tester -->
            <fontdue-type-testers collection-id="Rm9udENvbGxlY3Rpb246MTkyMDQ5Nzk0NTI3NTk2NzcyNA=="></fontdue-type-testers>
        </div>

        <div class="row">
            <div class="column" onclick="window.location.href='bitcount.html'">
                <div class="image" style="background-image: url('images/2020/BitcountLayerCatalogAnimation1360x1020.gif');"></div>
            </div>
            <div class="column bitcount">
                <h1 class="bitcount-bold size36">Bitcount Mono</h1>
                <p class="size24">
                    TYPETR Bitcount is a 5x7 bitmap typeface initiated in 1977, designed within the strict confines of early digital grids. What sets Bitcount apart is its innovative use of contrast, even within such a minimal pixel matrix, to preserve essential typographic details and ensure clear differentiation between letterforms.                      
                    <br/><br/> 
                    <fontdue-buy-button collection-id="Rm9udENvbGxlY3Rpb246MTkyMDQ5Nzk0NTI3NTk2NzcyNA=="></fontdue-buy-button>                
                </p>
            </div>
        </div>

    </section>
    
    <footer>
        <div>
        <p class="leading15">Bitcount, PowerLift, Presti, Productus, Proforma, Responder and Upgrade are registered trademarks by TYPETR | Buro Petr van Blokland + Claudia Mens<br/>
        Copyright © 2025 TYPETR | Buro Petr van Blokland + Claudia Mens</p> 
        </div>
    </footer>

    <fontdue-store-modal></fontdue-store-modal> <!-- Supported the [buy] button -->

    <script src="js/scripts.js"></script>
</body>
</html>
