<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/type-try-logo.gif" alt="Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            ☰
        </div>
    </header>

    <section class="slideshow">
        <div class="slide active" style="background-image: url('images/2019/Upgrade-01_Instagram_FewSpaces_18.jpg');"></div>
        <div class="slide active" style="background-image: url('images/2019/Upgrade-01_Instagram_FewSpaces_19.jpg');"></div>
        <div class="slide active" style="background-image: url('images/2019/Upgrade-01_Instagram_FewSpaces_20.jpg');"></div>
        <div class="slide active" style="background-image: url('images/2019/upgrade-editwindow.png');"></div>
        <div class="slide active" style="background-image: url('images/2019/upgrade-fontwindow1.png');"></div>
        <div class="slide active" style="background-image: url('images/2019/upgrade-fontwindow2.png');"></div>
        <div class="slide active" style="background-image: url('images/2019/upgrade-hairline.png');"></div>
        <div class="slide active" style="background-image: url('images/2019/upgrade-hairlinekerning.png');"></div>
        <div class="slide active" style="background-image: url('images/2019/upgrade-kerning.png');"></div>

    </section>

    <section class="content">
        <div class="row">
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the first column of the first row.</p>
            </div>
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the second column of the first row.</p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the first column of the second row.</p>
            </div>
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the second column of the second row.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>Copyright © 2025</p>
    </footer>

    <script src="js/scripts.js"></script>
</body>
</html>
