<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/type-try-logo.gif" alt="Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Fonts</a></li>
                <!--<li><a href="about.html">About</a></li>-->
                <li><a href="eulas.html">EULA</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            ☰
        </div>
    </header>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="document.getElementById('popup').style.display='none'">&times;</span>
        <section class="content">
          <div class="row">
            <div class="column font-selector size36 leading14">
              <p class="proforma-pro"><a href="proforma-pro.html">Proforma&nbsp;Pro</a></p>
              <p class="proforma-classic"><a href="proforma-classic.html">Proforma&nbsp;Classic</a></p> 
              <p class="upgrade"><a href="upgrade.html">Upgrade</a></p>
              <p class="presti"><a href="presti.html">Presti&nbsp;</a></p> 
              <p class="responder-p"><a href="responder-p.html">Responder&nbsp;P</a></p> 
              <p class="powerlift-outline"><a href="powerlift.html">PowerLift</a></p>
              <p class="productus"><a href="productus.html">Productus</a></p> 
              <p class="bitcount"><a href="bitcount.html">Bitcount</a></p> 
            </div>
          </div>
        </section>
      </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the first column of the first row.</p>
            </div>
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the second column of the first row.</p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the first column of the second row.</p>
            </div>
            <div class="column">
                <h1>Contact</h1>
                <p>This is a paragraph in the second column of the second row.</p>
            </div>
        </div>
    </section>

    <footer>
        <div>
        <p class="leading15">Bitcount, PowerLift, Presti, Productus, Proforma, Responder and Upgrade are registered trademarks by TYPETR | Buro Petr van Blokland + Claudia Mens<br/>
        Copyright © 2025 TYPETR | Buro Petr van Blokland + Claudia Mens</p> 
        </div>
    </footer>

    <fontdue-store-modal></fontdue-store-modal> <!-- Supported the [buy] button -->

    <script src="js/scripts.js"></script>
</body>
</html>
