<!DOCTYPE html>
<html class="page-admin" lang="en">
<head>

    <!-- Basic SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>TYPETR | Contact</title>
    <link rel="icon" type="image/x-icon" href="images/logos/typetr.ico">
    <meta name="description" content="TYPETR offers high-quality font licenses for desktop, web, and app use. Explore modern, professional, and multilingual typefaces.">
    <link rel="canonical" href="https://typetr.com/">

    <!-- Favicons -->
    <link rel="icon" href="/images/logos/typetr.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logos/typetr.png">

    <!-- ✅ Performance Hints -->
    <link rel="preconnect" href="https://fonts.fontdue.com/typetr">
    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">

    <!-- Presti VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MjEzMTQ3MzM3OTY0NjY3OTIxMw%3D%3D.css" rel="stylesheet">  

    <!-- Presti Display -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">

    <!-- Presti Deck -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDIwOTIwNzE5MjI1Nw%3D%3D.css" rel="stylesheet">  
    
    <!-- Presti Text -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDUxMTg5MzMzNDc2OA%3D%3D.css" rel="stylesheet">

    <!-- Responder P VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ%3D%3D.css" rel="stylesheet">

    <!-- Proforma Classic Ultra Light
         Proforma Classic Ultra Light Italic
         Proforma Classic Light
         Proforma Classic Light Italic
         Proforma Classic Book
         Proforma Classic Book Italic
         Proforma Classic Medium
         Proforma Classic Medium Italic
         Proforma Classic Semi Bold
         Proforma Classic Semi Bold Italic
         Proforma Classic Bold
         Proforma Classic Bold Italic
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5MzI5Mjk1Mzk3MTYyOQ%3D%3D.css" rel="stylesheet">

    <!-- Proforma Pro 
        TP Proforma Pro Thin
        TP Proforma Pro Thin Italic
        TP Proforma Pro Regular
        TP Proforma Pro Regular Italic
        TP Proforma Pro Medium
        TP Proforma Pro Medium Italic
        TP Proforma Pro Bold
        TP Proforma Pro Bold Italic
        TP Proforma Pro Black
        TP Proforma Pro Black Italic

    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw%3D%3D.css" rel="stylesheet">
    -->    

    <!-- Productus Book
         Productus Book Italic
         Productus Medium
         Productus Medium Italic
         Productus Semi Bold
         Productus Semi Bold Italic
         Productus Bold
         Productus Bold Italic
         Productus Black
         Productus Black Italic
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4OTE0MDgxMTExNTM4Mg%3D%3D.css" rel="stylesheet">

    <!-- PowerLift Tight 
         PowerLift Tight Outline 
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NTEzMjQ1NzM4ODg4NQ%3D%3D.css" rel="stylesheet">

    <!-- Bitcount Mono -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5Nzk0NTI3NTk2NzcyNA%3D%3D.css" rel="stylesheet">

    <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.com/fontdue.js"></script>

    <script>
        fontdue.initialize({
            url: "https://store.typetr.com",
            config: {
            typeTester: {      
              min: 6,
              max: 480,
              selectable: true,
              textInput: true,
              groupEdit: false,
              initialMode: 'local',
              truncate: 'true',
              shy: false,
              buyButton: false,
              selectButtonLabel: 'Add to cart',
              selectButtonStyle: 'solid',
              },
          },
    });
  </script>

    <link rel="stylesheet" href="css/styles.css">
     
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/logo-TYPETRY.gif" alt="Logo">
            </a>
        </div>
        <div class="smallLogo">
            <a href="index.html">
                TYPETR
            </a>
        </div>
        <div class="familyName responder-p" onclick="document.getElementById('popup').style.display='block'">
            Contact
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><fontdue-cart-button button-style="inline" label="Cart"></fontdue-cart-button></li>
                <li><a href="index.html">Fonts</a></li>
                <li><a href="custom.html">Custom</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html" class="current">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="document.getElementById('box').style.display='block'">
            ☰
        </div>
    </header>

    <div id="box" class="box">
        <nav id="menuBox" class="menuBox">
            <span class="close" onclick="document.getElementById('box').style.display='none'">&times;</span>
            <h2><fontdue-cart-button button-style="inline" label="Cart"></fontdue-cart-button></h2>
            <h2><a href="index.html">Fonts</a></h2>
            <h2><a href="custom.html">Custom</a></h2>
            <h2><a href="about.html">About</a></h2>
            <h2><a href="contact.html" class="current">Contact</a></h2>
        </nav>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="document.getElementById('popup').style.display='none'">&times;</span>
        <div class="column font-selector size36 leading14">
          <!--
          <p class="proforma-pro"><a href="proforma-pro.html">Proforma&nbsp;Pro</a></p>
          -->
          <p class="proforma-classic"><a href="proforma-classic.html">Proforma&nbsp;Classic</a></p> 
          <p class="upgrade"><a href="upgrade.html">Upgrade</a></p>
          <p class="presti"><a href="presti.html">Presti</a></p> 
          <p class="responder-p"><a href="responder-p.html">Responder&nbsp;P</a></p> 
          <p class="powerlift-outline"><a href="powerlift.html">PowerLift</a></p>
          <p class="productus"><a href="productus.html">Productus</a></p> 
          <p class="bitcount"><a href="bitcount.html">Bitcount</a></p> 
        </div>
      </div>
    </div>

    <section class="content"> <!-- Page navigation, main intro -->
        <div class="row">
            <div class="titleImage" style="padding-top: 10em; height: 12em; background-repeat: no-repeat; background-size: cover; background-image: url('images/contact/sketch-background.png');">
            </div>
            <div class="column14 topline ab">
                <div class="sticky">
                    <img class="contact" src="images/logos/TYPETR-Logo.jpg">
                </div>
            </div>
            <div class="column34 upgrade topline">
                <h1 class="upgrade-bold size36">Contact</h1>
                <p class="leading15 contact">
                    <span class="label">Insta</span><a href="https://www.instagram.com/petrvanblokland/" target="_blank">@petrvanblokland</a><br/>
                    <span class="label">E</span><a href="#" onclick="this.href='mailto:' + 'info' + '@' + 'typetr.com'">info [at] typetr.com</a><br/>
                    <span class="label">W</span><a href="www.typetr.com" target="_blank">www.typetr.com</a><br/>
                    <span class="label">T</span><a href="tel:+31 6 2421 9502">+31 6 2421 9502</a>
                </p>                                    
                <h1 class="upgrade-bold size36">What can we do for you?</h1>
                <p class="size24">If you already purchased a license for one of our typefaces, that’s great. Thank you for that. Meanwhile you may have questions about usage or best practice. E.g. the extended sets of OpenType features may not always be selectable in applications such as InDesign.</p>
                <p class="size24">We’re happy to direct you to how we think that our typefaces can best be used. Don’t hesitate to contact with any question or suggestion that you may have.
                </p>
                <img src="images/contact/sketch-A-Z.jpg" class="img-banner" />
                <p class="size24">Also, we have many many ideas for new typefaces. But making them happen takes a while, so prioritizing is important to know which one to put on top of the list. New typeface ideas vary from extending existing families (e.g. their weight range, adding condensed widths or extending the current glyphset), to complete new designs dedicated to specific tasks and media.</p>
                <p class="size24">We appreciate to hear from you what is missing in our library. Let us know: your typographic problem could be solved as a regular TYPETR library addition, without making it into a <a href="custom.html">custom project</a>.
                </p>  
                <img src="images/contact/sketch-thin-bw.jpg" class="img-banner"/>
            </div>
        </div>
    </section>

    <footer>
        <p class="leading15">Copyright © 2026 TYPETR | Buro&nbsp;Petr&nbsp;van&nbsp;Blokland&nbsp;+ Claudia&nbsp;Mens | <a href="licensing.html">Licensing</a> | <a href="legal.html">Terms, conditions &amp; privacy</a><br/>Bitcount, PowerLift, Presti, Productus, Proforma, Responder and Upgrade are registered trademarks of TYPETR</p> 
    </footer>


    <fontdue-store-modal></fontdue-store-modal> <!-- Supported the [buy] button -->

    <script src="js/scripts.js"></script>
</body>
</html>
