<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.name}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MzU4Mzc5NDUyMjc3MA%3D%3D.css" rel="stylesheet">    
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE3NzE2MzU4NjQ4Mw%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTc4MjM2MjU4OTc3Nw%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDIwOTIwNzE5MjI1Nw%3D%3D.css" rel="stylesheet">

    -->
    <!-- Presti VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTc4MjM2MjU4OTc3Nw%3D%3D.css" rel="stylesheet">  
    <!--  
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">
    -->
    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">
    <!-- Responder VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ%3D%3D.css" rel="stylesheet">
    <!-- Proforma -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5MzI5Mjk1Mzk3MTYyOQ%3D%3D.css" rel="stylesheet">
    <!-- PowerLift -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NTEzMjQ1NzM4ODg4NQ%3D%3D.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.com/fontdue.js"></script>

    <link rel="stylesheet" href="assets/css/main.css" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />

    <script>
     fontdue.initialize({
        url: "https://store.typetr.com",
      config: {
        typeTester: {      
          min: 6,
          max: 480,
          selectable: true,
          textInput: true,
          groupEdit: false,
          initialMode: 'local',
          truncate: 'true',
          shy: false,
          buyButton: false,
          selectButtonLabel: 'Buy',
          selectButtonStyle: 'solid',
          },
      },
    });
  </script>
     

    </head>
  <body>
    <div class="parallax"></div>

    <fontdue-store-modal></fontdue-store-modal>

    <header id="header">
      <div class='logo'>
        <a class="logo" href='index.html'>{{logo}}</a>
        <a id="menuButton" href="#menu"><span class="material-symbols-outlined">menu</span></a>
      </div>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Index</a></li>
        <li><a href="presti.html" style="font-family: 'Presti VF Regular';font-size: 5em;line-height: 1.4em;">Presti</a></li>
        <li><a href="proforma.html" style="font-family: 'Proforma Book';font-size: 3em;line-height: 1.4em;">Proforma</a></li>
        <li><a href="powerlift.html" style="font-family: 'PowerLift Tight';font-size: 3em;line-height: 1.4em;">Powerlift</a></li>
        <li><a href="responder.html" style="font-family: 'Responder P VF Regular';font-size: 3em;line-height: 1.8em;">Responder P</a></li>
        
        <li><a href="upgrade.html" style="font-family: 'Upgrade Thin';font-size: 5em;line-height: 1.4em;">Upgrade</a></li>
        <li><a href="about-typetr.html">About TYPETR</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <!-- HERO IMAGE -->
    <div class="block firstblock">  
      <section class="hero-image">
          <img src="./images/2022/Presti_in_use_pure_care_02.jpg" class="hero-image-img">
          <div class="hero-overlay">
              <h1>Upgrade typography</h1>
              <h2 class="sub">A workhorse sans, with character</h2>
          </div>
      </section>
    </div>

    <!-- SUMMARY-->
    <div class="block">  
      <div class="one-colum">  
          <p class="summary">Upgrade marks TYPETR’s first “normal” typeface release in many years. This substantial sans serif family supports a generous set of characters and features, and will thrive in a wide range of publication types and media. The typeface lends itself particularly well to scripted workflows.</p>
      </div>
    </div>    
    <div class="block">  
      <!-- ARTICLE  1-->
      <div class="one-colum">  
        <div class="article">  
          <div class="text-block">
            <h4>Acknowledgements</h4>
            <p>As always, designing a large family like this—writing a novel—never happens without the support and input from a great team. I’d like to thank (in order of appearance) Claudia Mens, Tilmann Hielscher, Jill Pichotta, CJ Dunn, David Jonathan Ross, Marina Chaccur, Tamye Riggs, Yves Peters, Claire Lindsey, Kirsten Langmuur, Caren Litherland, Chris Lewis, Paley Dreier, and the rest of the Type Network production and marketing teams.</p>
            <p>I’d also like to thank the suppliers of tools: Frederik Berlaen, Tal Leming, Erik van Blokland, Just van Rossum, Alexandre Saumier Demers, and Michiel Kauw-A-Tjoe.</p>
            <p>Last but not least, thanks to my partners in Type Network (and more): David Berlow, Sam Berlow, and Roger Black.</p>
            <p>Thanks to all for the creation of context, valuable input, support, and resources. —Petr van Blokland</p>
          </div>
        </div>     
      </div>
    </div>    

    <!-- SIX COLUMNS IMAGES -->
    <div class="block">  
      <!-- CONTENT -->
      <div class="six-colum-flex">  
        <div class="six-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_pure_care_02.jpg">
          </div>   
        </div>
        <div class="six-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_songs of love and hate_01.jpg">
          </div>   
        </div>
        <div class="six-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_06_Chocolate heaven_neon.jpg">
          </div>   
        </div>
        <div class="six-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_09_freekdejonge.jpg">
          </div>   
        </div>
        <div class="six-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_It's the end of the wordl_01.jpg">
          </div>   
        </div>
        <div class="six-items">
          <div class="image-block">
            <img src="./images/2022/Proforma_in_use_04_things_to_forget4.jpg">
          </div>   
        </div>
      </div>
    </div>

    <!-- FIVE COLUMNS IMAGES -->
    <div class="block">  
      <!-- CONTENT -->
      <div class="five-colum-flex">  
        <div class="five-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_pure_care_02.jpg">
          </div>   
        </div>
        <div class="five-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_songs of love and hate_01.jpg">
          </div>   
        </div>
        <div class="five-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_06_Chocolate heaven_neon.jpg">
          </div>   
        </div>
        <div class="five-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_09_freekdejonge.jpg">
          </div>   
        </div>
        <div class="five-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_It's the end of the wordl_01.jpg">
          </div>   
        </div>
      </div>
    </div>

    <!-- FOUR COLUMNS IMAGES -->
    <div class="block">  
      <div class="four-colum-flex">  
        <div class="four-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_pure_care_02.jpg">
          </div>   
        </div>
        <div class="four-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_songs of love and hate_01.jpg">
          </div>   
        </div>
        <div class="four-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_06_Chocolate heaven_neon.jpg">
          </div>   
        </div>
        <div class="four-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_09_freekdejonge.jpg">
          </div>   
        </div>
      </div>
    </div>

    <!-- THREE COLUMNS IMAGES -->
    <div class="block">  
      <div class="three-colum-flex">  
        <div class="three-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_pure_care_02.jpg">
          </div>   
        </div>
        <div class="three-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_songs of love and hate_01.jpg">
          </div>   
        </div>
        <div class="three-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_06_Chocolate heaven_neon.jpg">
          </div>   
        </div>
      </div>
    </div>

    <!-- TWO COLUMNS IMAGES -->
    <div class="block">  
      <div class="two-colum-flex">  
        <div class="two-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_pure_care_02.jpg">
          </div>   
        </div>
        <div class="two-items">
          <div class="image-block">
            <img src="./images/2022/Presti_in_use_songs of love and hate_01.jpg">
          </div>   
        </div>
      </div>
    </div>


    <div class="block">  
      <!-- ARTICLE  1-->
      <div class="one-colum">  
        <div class="article">  
          <div class="text-block">
            <h4>This site</h4>
            <p>This website gives an overview of what TYPETR Upgrade is capable of, and provides background information about its design and production. The site itself demonstrates what can be done with TYPETR Upgrade.</p>
            <p>Furthermore, the site contains a variety of example publications, most of which can be viewed in detailed PDF form by clicking on the thumbnails.</p>
          </div>
        </div>     
      </div>
    </div>    

    <div class="block">  
      <!-- ARTICLE  1-->
      <div class="one-colum">  
        <div class="article">  
          <div class="text-block">
            <h4>Scripted examples</h4>
            <p>TMost examples on this site have been generated by scripts. Not all designers will find that interesting, but TYPETR believes that typeface and publication development have radically changed over the past few years. The increase in size (800+ glyphs, 8000+ kerning pairs, interpolating weights and widths), the construction of the new variable fonts, and the creation of documents by parameters and data—rather than by manual page layout—call for new perspectives on typography and graphic design.</p>
          </div>
        </div>     
      </div>
    </div>    

    <!-- FOUR COLUMNS TOPICS -->
    <div class="block">  
      <div class="one-colum"> 
        <div class="one-item"> 
          <div class="headerBox">
            <h3>Topics</h3>
          </div>
        </div>
      </div>
      <!-- CONTENT -->
      <div class="four-colum">  
        <div class="four-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Wide range of weights</h4>
              <p>Because Upgrade is destined for complex, heavy-duty typography, an extremely broad range of weights is available, from Hairline to Ultra Black.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic01.gif" >
            </div>   
          </div>
        </div>   
        <div class="four-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Extended glyph set</h4>
              <p>Upgrade includes an extended glyph set supported by a number of stylistic feature options, such as small caps, inferior and superior figures, an inline capital J, and an alternate g.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic02.png">
            </div>   
          </div>
        </div>   
        <div class="four-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Five master drawings per character</h4>
              <p>Different weights of a typeface are often made by interpolating two or three master drawings per character. Upgrade is made from five original drawings.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic03.png">
            </div>   
          </div>
        </div>
        <div class="four-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Figures and fractions</h4>
              <p>Upgrade offers a variety of figures and supporting currency symbols for use with capitals, small caps, lowercase characters, and fractions.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic04.png">
            </div>   
          </div>
        </div>
      </div>
    </div>

    <!-- THHREE COLUMNS TOPICS -->
    <div class="block">  
      <div class="one-colum"> 
        <div class="one-item"> 
          <div class="headerBox">
            <h3>Topics</h3>
          </div>
        </div>
      </div>
      <!-- CONTENT -->
      <div class="three-colum">  
        <div class="three-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Wide range of weights</h4>
              <p>Because Upgrade is destined for complex, heavy-duty typography, an extremely broad range of weights is available, from Hairline to Ultra Black.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic01.gif" >
            </div>   
          </div>
        </div>   
        <div class="three-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Extended glyph set</h4>
              <p>Upgrade includes an extended glyph set supported by a number of stylistic feature options, such as small caps, inferior and superior figures, an inline capital J, and an alternate g.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic02.png">
            </div>   
          </div>
        </div>   
        <div class="three-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Five master drawings per character</h4>
              <p>Different weights of a typeface are often made by interpolating two or three master drawings per character. Upgrade is made from five original drawings.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic03.png">
            </div>   
          </div>
        </div>
      </div>
    </div>

    <!-- TWO COLUMNS TOPICS -->
    <div class="block">  
      <div class="one-colum"> 
        <div class="one-item"> 
          <div class="headerBox">
            <h3>Topics</h3>
          </div>
        </div>
      </div>
      <!-- CONTENT -->
      <div class="two-colum">  
        <div class="two-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Wide range of weights</h4>
              <p>Because Upgrade is destined for complex, heavy-duty typography, an extremely broad range of weights is available, from Hairline to Ultra Black.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic01.gif" >
            </div>   
          </div>
        </div>   
        <div class="two-items">
          <div class="topic">          
            <div class="text-block">
              <h4>Extended glyph set</h4>
              <p>Upgrade includes an extended glyph set supported by a number of stylistic feature options, such as small caps, inferior and superior figures, an inline capital J, and an alternate g.</p>
            </div>
            <div class="image-block">
              <img src="https://upgrade.typenetwork.com/images/pic02.png">
            </div>   
          </div>
        </div>
      </div>
    </div>

    <!-- ARTICLE GROUP-->

    <div class="block">  
      <div class="one-colum"> 
        <div class="one-item"> 
          <div class="headerBox">
            <h3>Interests</h3>
          </div>
        </div>
      </div>
      <!-- ARTICLE  1-->
      <div class="one-colum">  
        <div class="article">  
          <div class="text-block">
            <h4>Scripted examples</h4>
            <p>Most examples on this site have been generated by scripts. Not all designers will find that interesting, but TYPETR believes that typeface and publication development have radically changed over the past few years. The increase in size (800+ glyphs, 8000+ kerning pairs, interpolating weights and widths), the construction of the new variable fonts, and the creation of documents by parameters and data—rather than by manual page layout—call for new perspectives on typography and graphic design.</p>
          </div>
        </div>     
      </div>
      <!-- ARTICLE  2-->
      <div class="one-colum">  
        <div class="article">  
          <div class="text-block">
            <h4>Some design notes</h4>
            <p>TYPETR Upgrade was made with RoboFont, the type-design tool developed by Frederik Berlaen. The application is entirely written in Python, which allows designers to “hack in” at any level of their tools.</p>
            <p>RoboFont runs on top of a number of other code libraries, such as Tal Leming’s Vanilla and Defcon, Just van Rossum’s FontTools (now fully supported and maintained by Google), Adobe’s FDK, and Erik van Blokland’s “MutatorMath”, to name a few.</p>
            <p>The community of professional type designers is relatively small, and its tasks are so diverse, that any comparison to applications like PhotoShop and InDesign fails. For the most part, type designers need to create their own tools to support the design and production of their typefaces. Any existing, canned solution is likely to be used by graphic designers, too. They don’t need type designers for that.</p>
          </div>
        </div>     
      </div>
    </div>    

    <!-- TWO COLUMNS TEXT -->
    <div class="block">  
      <div class="one-colum"> 
        <div class="one-item"> 
          <div class="headerBox">
            <h3>Styles & axes</h3>
            <h3 class="sub">Supporting a variety of related styles</h3>
          </div>
        </div>
      </div>
      <!-- TEXT 1-->
      <div class="two-colum flex"> 
        <div class="article-plus">    
          <div class="headerBox">
            <h4>Gerrit Noordzij’s cube</h4>
          </div>
          <div class="two-items">    
            <div class="flux">    
              <div class="text-block">
                <p>Gerrit Noordzij’s cube is based on a merger of expansion contrast (sharp-nib pencil) and translation contrast (broad-nib pencil). The type of contrast used in Upgrade is based on translation, with little difference between vertical thick and horizontal thin strokes. The animation (based on software by Just van Rossum’s Daily Drawbot) shows where the contrast principle of Upgrade is located in Noordzij’s cube. Upgrade styles shown in this example are Light, Book, Regular, Semibold, and Black.</p>
                <p>Upgrade styles shown in this example are Light, Book, Regular, Semibold, and Black.</p>
              </div>
            </div>
          </div>
          <div class="two-items"> 
            <div class="image-block">
              <div class="rot">
                <img src="https://upgrade.typenetwork.com/images/NoordzijCube-test-x-1000MMTranspUpgrade.gif">
                </div>
            </div>
          </div>
        </div>
      </div>  
      <!-- TEXT 2-->
      <div class="two-colum flex"> 
        <div class="article-plus">      
          <div class="headerBox">
            <h4>Different drawings for different weights</h4>
          </div>     
          <div class="two-items">    
            <div class="flux">    
              <div class="text-block">
                <p>Depending on the available space of stems and counters in the various weights, some characters have different drawings. There is no room for the vertical bar in the dollar and cent symbols to strike completely through. Note that although all weights are shown here (ranging from Hairline to UltraBlack), details in the extreme weights may not make them ideal candidates for use in this size.</p>
                <h5>More variations to come in the near future</h5>
                <p>More variations in the Upgrade family—like Upgrade Condensed, Upgrade Wide, and Upgrade Text—will be released soon. And these variants will be combined, together with other parametric axes, in Upgrade Var. These are all intended to increase typographic quality for specific usage and size.</p>
                <h5>Alternative styles, using the Upgrade family as a template</h5>
                <p>Also planned are variants that cannot easily be expressed in the interpolating axes needed for variable fonts. These variants have a more stylistic approach based on specific usage, where readability is not the first priority. Some projected example names of these non-variable families include Upgrade Round, Upgrade Notouch, Upgrade Logo, Upgrade Ink, and Upgrade Metal.</p>
              </div>
            </div>
          </div>
          <div class="two-items"> 
            <div class="image-block">
              <div class="rot">
                <img src="https://upgrade.typenetwork.com/images/glyphsbyweights.png">
                <figcaption>Only a few of Upgrade’s design details, such as the M’s vertex not reaching all the way down to the baseline and the wide N and O, recall humanist sans serifs. The large x-height and open apertures aid legibility in smaller sizes.</figcaption>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
      
    <div class="block dark">  
      <div class="four-colum">  
        <div class="four-items">
            <h3 class="number-header">Aantal Verkopen</h3>
            <div class="number">1,000</div>
            <div class="description">Verkopen</div>
        </div>
        <div class="four-items">
            <h3 class="number-header">Aantal Gebruikers</h3>
            <div class="number">500</div>
            <div class="description">Gebruikers</div>
        </div>
        <div class="four-items">
            <h3 class="number-header">Aantal Producten</h3>
            <div class="number">300</div>
            <div class="description">Producten</div>
        </div>
        <div class="four-items">
            <h3 class="number-header">Aantal Projecten</h3>
            <div class="number">50</div>
            <div class="description">Projecten</div>
        </div>
    </div>
  </div>

  <!-- THREE COLUMNS IMAGES -->
  <div class="block">  
    <div class="one-colum"> 
      <div class="one-item"> 
        <div class="headerBox">
          <h3>Upgrade Feutures</h3>
          <h3 class="sub">The Upgrade family implements an extended OpenType feature set</h3>
        </div>
      </div>
    </div>
    <!-- ROW 1 -->
    <div class="three-colum">  
      <div class="three-items"> 
        <div class="tile"> 
          <div class="text-block">
            <h5>CSS ligatures [liga]</h5>
            <h6 class="def">file, fjord, flow, loft</h6>
            <h6 class="liga">file, fjord, flow, loft</h6>
          </div>
        </div>
      </div>
      <div class="three-items"> 
        <div class="tile">          
          <div class="text-block">
            <h5>CSS fractions [frac]</h5>
            <h6 class="def">1/2 1/3 1/4 1/5 234/567</h6>
            <h6 class="frac">1/2 1/3 1/4 1/5 234/567</h6>
          </div>
        </div>
      </div>
      <div class="three-items"> 
        <div class="tile">
          <div class="text-block">          
            <h5>CSS tabular figures [tnum]</h5>
            <h6 class="def">0123456789</h6>
            <h6 class="tnum">0123456789</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- ROW 2 -->
    <div class="three-colum">  
      <div class="three-items"> 
        <div class="tile">
          <div class="text-block">
            <h5>CSS oldstyle figures [onum]</h5>
            <h6 class="def">0123456789</h6>
            <h6 class="onum">0123456789</h6>
          </div>
        </div>
      </div>
      <div class="three-items"> 
        <div class="tile">
          <div class="text-block">
            <h5>CSS superior figures [sups]</h5>
            <h6 class="def">0123456789</h6>
            <h6 class="sups">0123456789</h6>
          </div>
        </div>
      </div>
      <div class="three-items"> 
        <div class="tile">
          <div class="text-block">
            <h5>CSS inferior figures [sinf]</h5>
            <h6 class="def">0123456789</h6>
            <h6 class="sinf">0123456789</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- ROW 3 -->
    <div class="three-colum">  
      <div class="three-items"> 
        <div class="tile">
          <div class="text-block">
            <h5>CSS lowercase to small caps [smcp]</h5>
            <h6 class="def">Design is detail management</h6>
            <h6 class="smcp">Design is detail management</h6>
          </div>
        </div>
      </div>
      <div class="three-items"> 
        <div class="tile">
          <div class="text-block">
            <h5>CSS caps to small caps [c2sc] + [smcp]</h5>
            <h6 class="def">Design is detail management</h6>
            <h6 class="c2sc smcp">Design is detail management</h6>
          </div>
        </div>
      </div>
      <div class="three-items"> 
        <div class="tile">
          <div class="text-block">
            <h5>CSS slashed zero [zero]</h5>
            <h6 class="def">€ 12.000.000</h6>
            <h6 class="zero">€ 12.000.000</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block lastblock">  
    <section class="hero-image">
        <img src="https://cms.typenetwork.com/media/original_images/UpgradeExtremes02.svg" alt="Image 1" class="hero-image-img">
    </section>
  </div>

    {{page.getFooter()}}

</body>


  <script>
    // Function to toggle the menu
    function toggleMenu() {
      const menu = document.getElementById('menu');
      if (menu) {
        menu.classList.toggle('visible');
      } else {
        console.error('Menu element not found.');
      }
    }

    // Add click event listener to the button
    document.getElementById('menuButton').addEventListener('click', toggleMenu);
  </script>
</html>