<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.name}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MzU4Mzc5NDUyMjc3MA%3D%3D.css" rel="stylesheet">    
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE3NzE2MzU4NjQ4Mw%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTc4MjM2MjU4OTc3Nw%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDIwOTIwNzE5MjI1Nw%3D%3D.css" rel="stylesheet">

    -->
    <!-- Presti VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTc4MjM2MjU4OTc3Nw%3D%3D.css" rel="stylesheet">  
    <!--  
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">
    -->
    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">
    <!-- Responder VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ%3D%3D.css" rel="stylesheet">
    <!-- Proforma -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5MzI5Mjk1Mzk3MTYyOQ%3D%3D.css" rel="stylesheet">
    <!-- PowerLift -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NTEzMjQ1NzM4ODg4NQ%3D%3D.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.com/fontdue.js"></script>

    <link rel="stylesheet" href="assets/css/main.css" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />

    <script>
     fontdue.initialize({
        url: "https://store.typetr.com",
      config: {
        typeTester: {      
          min: 6,
          max: 480,
          selectable: true,
          textInput: true,
          groupEdit: false,
          initialMode: 'local',
          truncate: 'true',
          shy: false,
          buyButton: false,
          selectButtonLabel: 'Buy',
          selectButtonStyle: 'solid',
          },
      },
    });
  </script>
     

    </head>
<body>

    <div class="parallax"></div>

    <fontdue-store-modal></fontdue-store-modal>
    <header id="header">
      <div class='logo'>
        <a class="logo" href='index.html'>{{logo}}</a>
        <a id="menuButton" href="#menu"><span class="material-symbols-outlined">menu</span></a>
      </div>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Index</a></li>
        <li><a href="presti.html" style="font-family: 'Presti VF Regular';font-size: 5em;line-height: 1.4em;">Presti</a></li>
        <li><a href="proforma.html" style="font-family: 'Proforma Book';font-size: 3em;line-height: 1.4em;">Proforma</a></li>
        <li><a href="powerlift.html" style="font-family: 'PowerLift Tight';font-size: 3em;line-height: 1.4em;">Powerlift</a></li>
        <li><a href="responder.html" style="font-family: 'Responder P VF Regular';font-size: 3em;line-height: 1.8em;">Responder P</a></li>
        
        <li><a href="upgrade.html" style="font-family: 'Upgrade Thin';font-size: 5em;line-height: 1.4em;">Upgrade</a></li>
        <li><a href="about-typetr.html">About TYPETR</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <!-- Family -->

<!-- Hero Image -->
<div class="block firstblock">  
  <section class="hero-image">
      <img src="https://cms.typenetwork.com/media/original_images/UpgradeReleaseLede02_5TdLdy6.svg" alt="Image 1" class="hero-image-img">
      <div class="hero-overlay">
          <h1>Upgrade typography</h1>
          <h2 class="sub">A workhorse sans, with character</h2>
      </div>
  </section>
</div>

<div class="block">  
  <div class="summary">
      <p class="summary">Upgrade marks TYPETR’s first “normal” typeface release in many years. This substantial sans serif family supports a generous set of characters and features, and will thrive in a wide range of publication types and media. The typeface lends itself particularly well to scripted workflows.</p>
  </div>
</div>    

<div class="block">  
  <section class="topic-block">
      <div class="topic-item">
          <h2 class="topic">Wide range of weights</h2>
          <p class="topic">Because Upgrade is destined for complex, heavy-duty typography, an extremely broad range of weights is available, from Hairline to Ultra Black.</p>
          <img src="https://upgrade.typenetwork.com/images/pic01.gif" class="topic-img">
      </div>
      <div class="topic-item">
          <h2 class="topic">Extended glyph set</h2>
          <p class="topic">Upgrade includes an extended glyph set supported by a number of stylistic feature options, such as small caps, inferior and superior figures, an inline capital J, and an alternate g.</p>
          <img src="https://upgrade.typenetwork.com/images/pic02.png" class="topic-img">
      </div>
      <div class="topic-item">
          <h2 class="topic">Five master drawings per character</h2>
          <p class="topic">Different weights of a typeface are often made by interpolating two or three master drawings per character. Upgrade is made from five original drawings.</p>
          <img src="https://upgrade.typenetwork.com/images/pic03.png" class="topic-img">
      </div>
      <div class="topic-item">
          <h2 class="topic">Figures and fractions</h2>
          <p class="topic">Upgrade offers a variety of figures and supporting currency symbols for use with capitals, small caps, lowercase characters, and fractions.</p>
          <img src="https://upgrade.typenetwork.com/images/pic04.png" class="topic-img ">
      </div>
  </section>
</div>

<!-- Container Grid (vierkant masker) -->
<div class="block">  
  <section id="grid" class="container-grid square">
      <div class="grid-item">
          <div class="image-overlay">
              <img src="./images/2022/Presti_in_use_02.jpg" alt="Image 1">
          </div>
      </div>
      <div class="grid-item">
          <div class="image-overlay">
              <img src="./images/2022/Presti_in_use_pure_care_02.jpg" alt="Image 1">
          </div>
      </div>
      <div class="grid-item">
          <div class="image-overlay">
              <img src="./images/2022/Presti_in_use_songs of love and hate_01.jpg" alt="Image 1">
          </div>
      </div>
  </section>
  <section class="container-grid square">
      <div class="grid-item">
          <div class="image-overlay">
              <img src="./images/2022/Presti_in_use_06_Chocolate heaven_neon.jpg" alt="Image 1">
          </div>
      </div>
      <div class="grid-item">
          <div class="image-overlay">
              <img src="./images/2022/Presti_in_use_09_freekdejonge.jpg" alt="Image 1">
          </div>
      </div>
      <div class="grid-item">
          <div class="image-overlay">
              <img src="./images/2022/Presti_in_use_It's the end of the wordl_01.jpg" alt="Image 1">
          </div>
      </div>
  </section>
</div>

<!-- Cijferblok (horizontale lijst) -->

<div class="block darkblock">  
  <section class="number-block">
      <div class="number-item">
          <h3 class="number-header">Aantal Verkopen</h3>
          <div class="number">1,000</div>
          <div class="description">Verkopen</div>
      </div>
      <div class="number-item">
          <h3 class="number-header">Aantal Gebruikers</h3>
          <div class="number">500</div>
          <div class="description">Gebruikers</div>
      </div>
      <div class="number-item">
          <h3 class="number-header">Aantal Producten</h3>
          <div class="number">300</div>
          <div class="description">Producten</div>
      </div>
      <div class="number-item">
          <h3 class="number-header">Aantal Projecten</h3>
          <div class="number">50</div>
          <div class="description">Projecten</div>
      </div>
  </section>
</div>


<!-- Two Columns (70%, 30%) -->
  <div class="block">  
    <div class="headerBox">
        <h2 id="axes">Styles & axes</h2>
        <h3 id="Features">Supporting a variety of related styles</h3>
    </div>
    <section class="two-columns-70">
      <div class="column big">
          <h4>Gerrit Noordzij’s cube</h4>
          <p>Gerrit Noordzij’s cube is based on a merger of expansion contrast (sharp-nib pencil) and translation contrast (broad-nib pencil). The type of contrast used in Upgrade is based on translation, with little difference between vertical thick and horizontal thin strokes. The animation (based on software by Just van Rossum’s Daily Drawbot) shows where the contrast principle of Upgrade is located in Noordzij’s cube. Upgrade styles shown in this example are Light, Book, Regular, Semibold, and Black.</p>
      </div>
      <div class="column small">
          <img src="https://upgrade.typenetwork.com/images/NoordzijCube-test-x-1000MMTranspUpgrade.gif" alt="Image 1">
      </div>
  </section>
  <section class="two-columns-70">
      <div class="column small">
          <img src="https://upgrade.typenetwork.com/images/glyphsbyweights.png" alt="Image 1">
      </div>
      <div class="column big">
          <h4>Different drawings for different weights</h4>
          <p>Depending on the available space of stems and counters in the various weights, some characters have different drawings. There is no room for the vertical bar in the dollar and cent symbols to strike completely through. Note that although all weights are shown here (ranging from Hairline to UltraBlack), details in the extreme weights may not make them ideal candidates for use in this size.</p>
      </div>
  </section>
</div>
<!-- Three Columns (30%, 30%, 30%) -->

<div class="block">  
  <div class="headerBox">
    <h2 id="Features" >Upgrade features</h2>
    <h3 id="Features" >The Upgrade family implements an extended OpenType feature set</h3>
  </div>
  <section class="three-columns">
      <div class="column">
          <h4>CSS ligatures [liga]</h4>
          <h5 class="def">file, fjord, flow, loft</h5>
          <h5 class="liga">file, fjord, flow, loft</h5>
      </div>
      <div class="column">
          <h4>CSS fractions [frac]</h4>
          <h5 class="def">1/2 1/3 1/4 1/5 234/567</h5>
          <h5 class="frac">1/2 1/3 1/4 1/5 234/567</h5>
      </div>
      <div class="column">
          <h4>CSS tabular figures [tnum]</h4>
          <h5 class="def">0123456789</h5>
          <h5 class="tnum">0123456789</h5>
      </div>
  </section>
  <section class="three-columns">
      <div class="column">
          <h4>CSS oldstyle figures [onum]</h4>
          <h5 class="def">0123456789</h5>
          <h5 class="onum">0123456789</h5>
      </div>
      <div class="column">
          <h4>CSS superior figures [sups]</h4>
          <h5 class="def">0123456789</h5>
          <h5 class="sups">0123456789</h5>
      </div>
      <div class="column">
          <h4>CSS inferior figures [sinf]</h4>
          <h5 class="def">0123456789</h5>
          <h5 class="sinf">0123456789</h5>
      </div>
  </section>
  <section class="three-columns">
      <div class="column">
          <h4>CSS superior lowercase [sups]</h4>
          <h5 class="def">AaBbCcDdEeFfGgHhIiJj</h5>
          <h5 class="sups">AaBbCcDdEeFfGgHhIiJj</h5>
      </div>
      <div class="column">
          <h4>CSS inferior lowercase [sinf]</h4>
          <h5 class="def">AaBbCcDdEeFfGgHhIiJj</h5>
          <h5 class="sinf">AaBbCcDdEeFfGgHhIiJ.</h5>
      </div>
      <div class="column">
          <h4>CSS caps to small caps [c2sc]</h4>
          <h5 class="def">Design is detail management</h5>
          <h5 class="c2sc">Design is detail management</h5>
      </div>
  </section>
  <section class="three-columns">
      <div class="column">
          <h4>CSS lowercase to small caps [smcp]</h4>
          <h5 class="def">Design is detail management</h5>
          <h5 class="smcp">Design is detail management</h5>
      </div>
      <div class="column">
          <h4>CSS caps to small caps [c2sc] + [smcp]</h4>
          <h5 class="def">Design is detail management</h5>
          <h5 class="c2sc smcp">Design is detail management</h5>
      </div>
      <div class="column">
          <h4>CSS slashed zero [zero]</h4>
          <h5 class="def">€ 12.000.000</h5>
          <h5 class="zero">€ 12.000.000</h5>
      </div>
  </section>
</div>

<div class="block lastblock">  
  <section class="hero-image">
      <img src="https://cms.typenetwork.com/media/original_images/UpgradeExtremes02.svg" alt="Image 1" class="hero-image-img">
  </section>
</div>

    {{page.getFooter()}}

</body>


<script>
  // Function to toggle the menu
  function toggleMenu() {
    const menu = document.getElementById('menu');
    if (menu) {
      menu.classList.toggle('visible');
    } else {
      console.error('Menu element not found.');
    }
  }

  // Add click event listener to the button
  document.getElementById('menuButton').addEventListener('click', toggleMenu);
</script>

</html>