<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.name}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MzU4Mzc5NDUyMjc3MA%3D%3D.css" rel="stylesheet">    
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE3NzE2MzU4NjQ4Mw%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTc4MjM2MjU4OTc3Nw%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDIwOTIwNzE5MjI1Nw%3D%3D.css" rel="stylesheet">

    -->
    <!-- Presti VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTc4MjM2MjU4OTc3Nw%3D%3D.css" rel="stylesheet">  
    <!--  
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">
    -->
    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">
    <!-- Responder VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ%3D%3D.css" rel="stylesheet">
    <!-- Proforma -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5MzI5Mjk1Mzk3MTYyOQ%3D%3D.css" rel="stylesheet">
    <!-- PowerLift -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NTEzMjQ1NzM4ODg4NQ%3D%3D.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.com/fontdue.js"></script>

    <link rel="stylesheet" href="assets/css/main.css" />
    
    <script>
     fontdue.initialize({
        url: "https://store.typetr.com",
      config: {
        typeTester: {      
          min: 6,
          max: 480,
          selectable: true,
          textInput: true,
          groupEdit: false,
          initialMode: 'local',
          truncate: 'true',
          shy: false,
          buyButton: false,
          selectButtonLabel: 'Buy',
          selectButtonStyle: 'solid',
          },
      },
    });
  </script>
     

    </head>
<body>
    <fontdue-store-modal></fontdue-store-modal>
    <header id="header">
      <div class='logo'>
        <a class="logo" href='index.html'>{{logo}}</a>
        <a id="menuButton" href="#menu">M E N U</a>
      </div>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Index</a></li>
        <li><a href="presti.html" style="font-family: 'Presti VF Regular';font-size: 5em;line-height: 1.4em;">Presti</a></li>
        <li><a href="proforma.html" style="font-family: 'Proforma Book';font-size: 3em;line-height: 1.4em;">Proforma</a></li>
        <li><a href="powerlift.html" style="font-family: 'PowerLift Tight';font-size: 3em;line-height: 1.4em;">Powerlift</a></li>
        <li><a href="responder.html" style="font-family: 'Responder P VF Regular';font-size: 3em;line-height: 1.4em;">Responder P</a></li>
        
        <li><a href="upgrade.html" style="font-family: 'Upgrade Thin';font-size: 5em;line-height: 1.4em;">Upgrade</a></li>
        <li><a href="about-typetr.html">About TYPETR</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  
    <div class="header">
      <div class="slideshow">
        {{slideShow}}
      </div>
        <button class="slideshow-arrow left">&larr;</button>
        <button class="slideshow-arrow right">&rarr;</button>
      <div class="overlay">
        <h1>TYPETR-Shop</h1>
        <h3>Fonts that speak volumes {{page.name}}</h3>
      </div>
    </div>

    {{page.fontPromo('tp-upgrade', imageRight=False, typeTester=True, characterViewer=False)}}
    {{page.fontPromo('tp-powerlift', typeTester=True, style='Tight')}}
    
    {{page.fontPromo('presti-vf', imageRight=False, typeTester=True)}}
    {{page.fontPromo('tp-proforma', typeTester=True, style='Medium')}}
    
    {{page.fontPromo('responder-p-vf', imageRight=False, typeTester=True)}}
    {{page.fontPromo('responder-p-vf', typeTester=True)}}

    {{page.getFooter()}}

</body>

<script>
  // Function to toggle the menu
  function toggleMenu() {
    const menu = document.getElementById('menu');
    if (menu) {
      menu.classList.toggle('visible');
    } else {
      console.error('Menu element not found.');
    }
  }

  // Add click event listener to the button
  document.getElementById('menuButton').addEventListener('click', toggleMenu);
</script>

</html>