<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>TYPETR | Presti</title>
    <link rel="icon" type="image/x-icon" href="images/logos/typetr.ico">
    <meta name="description" content="TYPETR offers high-quality font licenses for desktop, web, and app use. Explore modern, professional, and multilingual typefaces.">
    <link rel="canonical" href="https://typetr.com/">

    <!-- Favicons -->
    <link rel="icon" href="/images/logos/typetr.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logos/typetr.png">

    <!-- ✅ Performance Hints -->
    <link rel="preconnect" href="https://fonts.fontdue.com/typetr">
    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">

    <!-- Presti VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MjEzMTQ3MzM3OTY0NjY3OTIxMw%3D%3D.css" rel="stylesheet">  

    <!-- Presti Display -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">

    <!-- Presti Deck -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDIwOTIwNzE5MjI1Nw%3D%3D.css" rel="stylesheet">  
    
    <!-- Presti Text -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDUxMTg5MzMzNDc2OA%3D%3D.css" rel="stylesheet">

    <!-- Responder P VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ%3D%3D.css" rel="stylesheet">

    <!-- Proforma Classic Ultra Light
         Proforma Classic Ultra Light Italic
         Proforma Classic Light
         Proforma Classic Light Italic
         Proforma Classic Book
         Proforma Classic Book Italic
         Proforma Classic Medium
         Proforma Classic Medium Italic
         Proforma Classic Semi Bold
         Proforma Classic Semi Bold Italic
         Proforma Classic Bold
         Proforma Classic Bold Italic
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5MzI5Mjk1Mzk3MTYyOQ%3D%3D.css" rel="stylesheet">

    <!-- Proforma Pro 
        TP Proforma Pro Thin
        TP Proforma Pro Thin Italic
        TP Proforma Pro Regular
        TP Proforma Pro Regular Italic
        TP Proforma Pro Medium
        TP Proforma Pro Medium Italic
        TP Proforma Pro Bold
        TP Proforma Pro Bold Italic
        TP Proforma Pro Black
        TP Proforma Pro Black Italic

    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw%3D%3D.css" rel="stylesheet">
    -->    

    <!-- Productus Book
         Productus Book Italic
         Productus Medium
         Productus Medium Italic
         Productus Semi Bold
         Productus Semi Bold Italic
         Productus Bold
         Productus Bold Italic
         Productus Black
         Productus Black Italic
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4OTE0MDgxMTExNTM4Mg%3D%3D.css" rel="stylesheet">

    <!-- PowerLift Tight 
         PowerLift Tight Outline 
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NTEzMjQ1NzM4ODg4NQ%3D%3D.css" rel="stylesheet">

    <!-- Bitcount Mono -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5Nzk0NTI3NTk2NzcyNA%3D%3D.css" rel="stylesheet">

    <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.com/fontdue.js"></script>

    <script>
        fontdue.initialize({
            url: "https://store.typetr.com",
            config: {
            typeTester: {      
              min: 6,
              max: 480,
              selectable: true,
              textInput: true,
              groupEdit: false,
              initialMode: 'local',
              truncate: 'true',
              shy: false,
              buyButton: false,
              selectButtonLabel: 'Add to cart',
              selectButtonStyle: 'solid',
              },
          },
    });
  </script>

    <link rel="stylesheet" href="css/styles.css">
     
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/logo-TYPETRY.gif" alt="Logo">
            </a>
        </div>
        <div class="smallLogo">
            <a href="index.html">
                TYPETR
            </a>
        </div>
        <div class="familyName presti" onclick="document.getElementById('popup').style.display='block'">
            Presti&nbsp;<span class="andMore upgrade-thin">and more...</span>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="index.html" class="current">Fonts</a></li>
                <li><a href="custom.html">Custom</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><fontdue-cart-button button-style="inline" label="Cart"></fontdue-cart-button></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="document.getElementById('box').style.display='block'">
            ☰
        </div>
    </header>

    <div id="box" class="box">
        <nav id="menuBox" class="menuBox">
            <span class="close" onclick="document.getElementById('box').style.display='none'">&times;</span>
            <h2><a href="index.html">Fonts</a></h2>
            <h2><a href="custom.html">Custom</a></h2>
            <h2><a href="contact.html">Contact</a></h2>
            <h2><fontdue-cart-button button-style="inline" label="Cart"></fontdue-cart-button></h2>
        </nav>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="document.getElementById('popup').style.display='none'">&times;</span>
        <div class="column font-selector size36 leading14">
          <!--
          <p class="proforma-pro"><a href="proforma-pro.html">Proforma&nbsp;Pro</a></p>
          -->
          <p class="proforma-classic"><a href="proforma-classic.html">Proforma&nbsp;Classic</a></p> 
          <p class="upgrade"><a href="upgrade.html">Upgrade</a></p>
          <p class="presti"><a href="presti.html">Presti</a></p> 
          <p class="responder-p"><a href="responder-p.html">Responder&nbsp;P</a></p> 
          <p class="powerlift-outline"><a href="powerlift.html">PowerLift</a></p>
          <p class="productus"><a href="productus.html">Productus</a></p> 
          <p class="bitcount"><a href="bitcount.html">Bitcount</a></p> 
        </div>
      </div>
    </div>

    <section class="content"> <!-- Page navigation, main intro -->

        <div class="row">
            <div class="titleImage" style="background-image: url('images/2025/Presti-flourishes-animation.gif');">
            </div>
        </div>
        <div class="row">
            <div class="column14 topline ab">
                <div class="sticky">
                    <div class="responsiveHide">
                        <button class="buy-button upgrade" 
                            type="button"
                            fontdue-click="open-store-modal"
                            fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg==">
                            Add to cart
                        </button>
                        <h2><a href="#weightsStyles">Weights &amp; styles</a></h2>
                        <h2><a href="#openTypeFeatures">OpenType features</a></h2>
                        <h2><a href="#openTypeSwashes">OpenType swashes</a></h2>
                        <h2><a href="#glyphSet">Glyph set</a></h2>
                    </div>
                    <div class="responsiveShow">
                        <button class="buy-button upgrade" 
                            type="button"
                            type="button"
                            fontdue-click="open-store-modal"
                            fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg==">
                            Add to cart
                        </button>
                        <h2><a href="#weightsStyles">Weights &amp; styles</a></h2>
                        <h2><a href="#openTypeFeatures">OpenType features</a></h2>
                        <h2><a href="#openTypeSwashes">OpenType swashes</a></h2>
                    </div>
                </div>
            </div>
            <div class="column34 upgrade topline">
                <h1 class="presti-bold size36 ss01">Pr~tru2esti<span class="presti liga ss01"> with 3}}s~brd5wa~brd3sh~tru5es~bld5{{3</span></h1>
                <p class="size24 presti liga">
                    TYPETR Presti is a sophisticated serif typeface inspired by the flexible-pen contrast of traditional expansion stroke models, echoing the refined style of Bodoni with a modern twist. With its wide range of weights and optical sizes, Presti adapts beautifully across both print and digital media, from delicate captions to bold headlines. Rich in OpenType features, it offers a stunning array of stylistic alternates, flourishes, and typographic finesse, making it ideal for editorial design, branding, and luxury packaging.
                </p>
            </div>
        </div>
    </section>

    <nav class="sectionNav">
        <div class="responsiveHide">
            <ul class="sectionNavList stickyElement">
                <li><a href="#weightsStyles">Weights &amp; styles</a></li>
                <li><a href="#openTypeFeatures">OpenType features</a></li>
                <li><a href="#openTypeSwashes">OpenType swashes</a></li>
                <li><a href="#glyphSet">Glyph set</a></li>
            </ul>
        </div>
        <div class="responsiveShow">
            <ul class="sectionNavList stickyElement">
                <li><a href="#weightsStyles">Weights &amp; styles</a></li>
                <li><a href="#openTypeFeatures">OpenType features</a></li>
                <li><a href="#openTypeSwashes">OpenType swashes</a></li>
            </ul>
        </div>
    </nav>

    <button class="cta-cart" 
            type="button"
            fontdue-click="open-store-modal"
            fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg=="
            aria-label="Koop font">
        <span class="material-symbols-outlined">shopping_cart</span>
    </button>

    <section class="content"> <!-- Type tester with family name on full width -->
        <div class="row"> 
            <div class="type-tester">
                <fontdue-type-testers collection-id="Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg=="></fontdue-type-testers>
            </div>
        </div>
    </section>

    <section class="content" id="weightsStyles"> <!-- Weights &amp; styles -->
        <div class="row">
            <div class="column14 topline">
                <div style="margin: 20px">
                    <button class="buy-button upgrade" 
                        type="button"
                        fontdue-click="open-store-modal"
                        fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg=="
                        ><!-- fontdue-store-select="U2t1OjE5MjA0ODEzMDI3MjIyOTIzNTM=" -->
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="column34 upgrade topline">
                <h1 class="presti-bold size36">Presti<span class="upgrade"> weights &amp; styles</span></h1>
            </div>
        </div>

        <div class="row responsiveHide"> <!-- Upgrade type tester -->
            <div class="type-tester">
                <fontdue-type-testers collection-id="Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA=="></fontdue-type-testers>
            </div>
        </div>
        <div class="row smallWeightTester">
            <div class="presti-thin size80">Presti
            <span class="presti-thin-italic size80">Italic</span></div>
            <div class="presti-light size80">Presti
            <span class="presti-light-italic size80">Italic</span></div>
            <div class="presti size80">Presti
            <span class="presti-italic size80">Italic</span></div>
            <div class="presti-medium size80">Presti
            <span class="presti-medium-italic size80">Italic</span></div>
            <div class="presti-semibold size80">Presti
            <span class="presti-semibold-italic size80">Italic</span></div>
            <div class="presti-bold size80">Presti
            <span class="presti-bold-italic size80">Italic</span></div>
            <div class="presti-black size80">Presti
            <span class="presti-black-italic size80">Italic</span></div>
        </div>
    </section>

    <section class="content" id="openTypeFeatures"> <!-- OpenType features -->
        <div class="row">
            <div class="column14 topline">
                <div style="margin: 20px">
                    <button class="buy-button upgrade" 
                        type="button"
                        fontdue-click="open-store-modal"
                        fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg=="
                        ><!-- fontdue-store-select="U2t1OjE5MjA0ODEzMDI3MjIyOTIzNTM=" -->
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="column34 upgrade topline">
                <h1 class="presti-bold size36">Presti<span class="presti"> OpenType features</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="column14">
                <div style="margin: 0px auto 0px auto">
                    <img class="responsiveHide" width="100%" src="images/2018/Upgrade-otfeaturesmenu.png">
                </div>
            </div>
            <div class="column34 upgrade">
                <p class="size24 presti">The TYPETR Presti family implements an extended OpenType feature set.</p>

                <div class="features">                                            
                    <h4>CSS standard ligatures [liga]</h4>
                    <div class="specimen presti no_liga">file, fjord, flow, loft
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti liga">file, fjord, flow, loft (on)</div>
                </div>   

                <div class="features">                                                                               
                    <h4>CSS tabular figures [tnum]</h4>
                    <div class="specimen presti">0123456789
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti tnum">0123456789 (on)</div>
                </div>   

                <div class="features">                                                                                                   
                    <h4>CSS oldstyle figures [onum]</h4>
                    <div class="specimen presti">ABC 0123456789 abc
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti onum">ABC 0123456789 abc (on)</div>
                </div>   

                <div class="features">                                                                               
                    <h4>CSS superior figures [sups]</h4>
                    <div class="specimen presti">A0B1C2D3E4F5G6H7I8J9
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti sups">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>   

                <div class="features">                                                                                                                       
                    <h4>CSS numerator figures [numr]</h4>
                    <div class="specimen presti">A0B1C2D3E4F5G6H7I8J9
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti numr">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>   

                <div class="features">                                                                               
                    <h4>CSS denomunator figures [dnom]</h4>
                    <div class="specimen presti">A0B1C2D3E4F5G6H7I8J9
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti dnom">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>   

                <div class="features">                                                                                                  
                    <h4>CSS inferior figures [sinf]</h4>
                    <div class="specimen presti">A0B1C2D3E4F5G6H7I8J9
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti sinf">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>   

                <div class="features">                                                                               
                    <h4>CSS fractions [frac] using numerator/denominator figures</h4>
                    <div class="specimen presti">1/2 1/3 1/4 1/5 234/567
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti frac"> 1/2 1/3 1/4 1/5 234/567 (on)</div>
                </div>   

                <div class="features">                                                                                                   
                    <h4>CSS caps to small caps [c2sc]</h4>
                    <div class="specimen presti">Design is Detail Management
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti c2sc">Design is Detail Management (on)</div>
                </div>   

                <div class="features">                                                                                                   
                    <h4>CSS lowercase to small caps [smcp]</h4>
                    <div class="specimen presti">Design is Detail Management
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti smcp">Design is Detail Management (on)</div>
                </div>   

                <div class="features">                                                                                                   
                    <h4>CSS caps and lowercase to small caps [c2sc] + [smcp]</h4>
                    <div lass="specimen presti">Design is Detail Management
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti c2sc-smcp">Design is Detail Management (on)</div>
                </div>   

                <div class="features">                                                                            
                    <h4>CSS all alternates [aalt]</h4>
                    <div class="specimen presti"><span class="size56">$ 0257 JR</span>
                        <div class="feature-switch-mobile">(default off)</div>
                        <div class="feature-switch-desktop">(off)</div>
                    </div>
                    <div class="specimen presti aalt"><span class="size56">$ 0257 JR</span> (on)</div>
                </div>   

            </div>
        </div>

       <div class="row" id="openTypeSwashes">
            <div class="column14 topline responsiveHide">
                <div style="margin: 20px">
                    <img src="images/2018/Upgrade-otfeaturesmenu.png" width="100%">
                </div>
            </div>
            <div class="column34 topline">
                <h1 class="presti-bold size36">Presti<span class="presti ss01"> OpenType s~brd5wa~brd3sh~tru5es~bld5 & 3}}flourishes{{3</span></h1>
                <p class="presti leading14 size24">
                    The TYPETR Presti family implements an extended OpenType feature set for swashes and flourishes that are marked with [ID], work in standard InDesign. All features in stylistic set range [ss02] - [ss08] are exclusive, the don’t work together, since they are defined as separate glyphs. For floating swashes use [ss01] or the range [ss09] - [ss16] </p>

                <h3 class="presti-semibold size24">Fixed swashes for legacy InDesign version.</h3>

                <div class="features">
                    <h4 class="upgrade">[ID] Swash [swsh] A set of selected swashes for most letters</h4>
                    <div class="specimen presti">Set of selected swashes</div>
                    <div class="specimen presti swsh">Set of selected swashes</div>
                </div>

                <div class="features">
                    <h4 class="upgrade">[ID] Inline swashes [ss02] A set of simple swashes</h4>
                    <div class="specimen presti">Simple swashes on CAPITALS and spaces</div>
                    <div class="specimen presti ss02">Simple swashes on CAPITALS and spaces</div>
                </div>

                <div class="features">    
                    <h4 class="upgrade">[ID] Top-right swashes [ss03] Right going #3 type swashes on top</h4>
                    <div class="specimen presti">Top-right swashes</div>
                    <div class="specimen presti ss03">Top-right swashes</div>
                </div>

                <div class="features">    
                    <h4 class="upgrade">[ID] Top-left swashes [ss04] Left going #3 type swashes on top</h4>
                    <div class="specimen presti">Top-left swashes</div>
                    <div class="specimen presti ss04">Top-left swashes</div>
                </div>

                <div class="features">    
                    <h4 class="upgrade">[ID] Middle-right swashes [ss05] Right going #3 type swashes on middle of height</h4>
                    <div class="specimen presti">Middle-right swashes</div>
                    <div class="specimen presti ss05">Middle-right swashes</div>
                </div>

                <div class="features">    
                    <h4 class="upgrade">[ID] Middle-left swashes [ss06] Left going #3 type swashes on middle of height</h4>
                    <div class="specimen presti">Middle-left swashes</div>
                    <div class="specimen presti ss06">Middle-left swashes</div>
                </div>

                <div class="features">        
                    <h4 class="upgrade">[ID] Bottom-right swashes [ss07] Right going #3 type swashes on bottom</h4>
                    <div class="specimen presti">Bottom-right swashes</div>
                    <div class="specimen presti ss07">Bottom-right swashes</div>
                </div>

                <div class="features">    
                    <h4 class="upgrade">[ID] Bottom-left swashes [ss08] Left going #3 type swashes on bottom</h4>
                    <div class="specimen presti">Bottom-left swashes</div>
                    <div class="specimen presti ss08">Bottom-left swashes</div>
                </div>

                    <hr/>
                    <h3 class="presti-semibold size24">Multiple swashes on one character</h3>
                    
                    <h4 class="upgrade">The [ss01] feature needs InDesign 19.0, later than October 2023</h4>

                    <p class="presti leading14">The feature [ss01] is using a code sequence to connect swashes to characters.</p>
                    <ul>
                        <li class="presti size16 leading14">Start with the character itself</li>
                        <li class="presti size16 leading14">Directly followed  by a “tilde” ~</li>
                        <li class="presti size16 leading14">Followed by the code for vertical position: “t”: top, “m”: middle, “b”: bottom</li>
                        <li class="presti size16 leading14">Followed by the code for the horizontal position: “l”: left, “r”: right</li>
                        <li class="presti size16 leading14">Followed by the code for the vertical direction: “u”: up, “d”: down</li>
                        <li class="presti size16 leading14">finally a single digit that defines the size of the swash: “1”: small, “2”: larger, “3”: moderate, “4”: large, “5”: super sized</li>
                    </ul>

                    <ul class="no-bullet">
                        <li class="presti size56 no-tracking leading14">A~tru3 – <span class="ss01">A~tru3</span></li>
                        <li class="presti size56 no-tracking leading14">B~mrd2 – <span class="ss01">B~mrd2</span></li>
                        <li class="presti size56 no-tracking leading14">C~bld5 – <span class="ss01">C~bld5</span></li>
                        <li class="presti size56 no-tracking leading14">D~mru5 – <span class="ss01">D~mru5</span></li>
                        <li class="presti size56 no-tracking leading14">E~mlu1 – <span class="ss01">E~mlu1</span></li>
                    </ul>

                    <p class="presti leading14">Several code sequences can be combined to attach multiple swashes to the same character. Each character has up to 8 connections points.</p>

                    <ul class="no-bullet">
                        <li class="presti size56 no-tracking leading14">A~tru3~bru5 – <span class="ss01">A~tru3~brd3</span></li>
                        <li class="presti size56 no-tracking leading14">B~mrd2~tlu2 – <span class="ss01">B~mrd2~tlu2</span></li>
                        <li class="presti size56 no-tracking leading14">C~bld5~tru3 – <span class="ss01">C~bld5~tru3</span></li>
                        <li class="presti size56 no-tracking leading14">D~mru5~mrd3 – <span class="ss01">D~mru5~mrd3</span></li>
                        <li class="presti size56 no-tracking leading14">E~mlu1~tlu2~brd2 – <span class="ss01">E~mlu1~tlu2~brd2</span></li>
                    </ul>

                    <div class="leading14 size36 presti no-ss01">Swa~tru5shes o~brd4n any l~mlu3etter~mru4</div>
                    <div class="leading14 size36 presti ss01">Swa~tru5shes o~brd4n any l~mlu3etter~mru4</div>

                    <div class="features">
                        <h3 class="presti-semibold size24">Changing the size of swashes</h3>
                    </div>   

                    <div class="features">
                        <h4 class="upgrade">Force a selection of small #1 swashes to larger #2 round swashes [ss12+ss17]</h4>
                        <div class="specimen presti ss12">Round swashes type #2</div>
                        <div class="specimen presti ss12-ss17">Round swashes type #2</div>
                    </div>   

                    <div class="features">
                        <h4 class="upgrade">Force a selection of small #1 swashes to #3 moderate sized swashes [ss12+ss18]</h4>
                        <div class="specimen presti ss12">Moderate swashes type #3</div>
                        <div class="specimen presti ss12-ss18">Moderate swashes type #3</div>
                    </div>   
                    
                    <div class="features">
                        <h4 class="upgrade">Force a selection of small #1 swashes to #4 large swashes [ss12+ss18]</h4>
                        <div class="specimen presti ss12">Large swashes type #4</div>
                        <div class="specimen presti ss12-ss19">Large swashes type #4</div>
                    </div>   
                    
                    <div class="features">
                    <h4 class="upgrade">Force a selection of small #1 swashes to #5 super swashes [ss12+ss18]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;" class="presti ss12">Super swashes type #5</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="presti ss12-ss20">Super swashes type #5</div>
                    </div>   

                    <hr/>
                    <h3 class="presti-semibold size24">Inline flourishes in 5 sizes</h3>
                    
                    <ul class="no-bullet">
                        <li class="presti size56 no-tracking leading14">1}}A{{1 – <span class="ss01">1}}A{{1</span></li>
                        <li class="presti size56 no-tracking leading14">2}}B{{2 – <span class="ss01">2}}B{{2</span></li>
                        <li class="presti size56 no-tracking leading14">3}}C{{3 – <span class="ss01">3}}C{{3</span></li>
                        <li class="presti size56 no-tracking leading14">4}}D{{4 – <span class="ss01">4}}D{{4</span></li>
                        <li class="presti size56 no-tracking leading14">5}}E{{5 – <span class="ss01">5}}E{{5</span></li>
                    </ul>

            </div>
        </div>

    </section>

    <section class="content" id="glyphSet"> <!-- Glyph set -->
        <div class="row responsiveHide">
            <div class="column14 topline">
                <div style="margin: 20px">
                    <button class="buy-button upgrade" 
                        type="button"
                        fontdue-click="open-store-modal"
                        fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg==">
                        <!-- fontdue-store-select="U2t1OjE5MjA0ODEzMDI3MjIyOTIzNTM=" -->
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="column34 topline upgrade">
                <h1 class="presti-bold size36">Presti<span class="presti"> glyph set</span></h1>
            </div>
        </div>

        <div class="row responsiveHide"> <!-- Presti glyph set type tester -->
            <div class="type-tester">
                <fontdue-character-viewer collection-id="Rm9udENvbGxlY3Rpb246MTkyMDQ3OTcwMDEwMzg5OTcyMg=="></fontdue-character-viewer>
            </div>
        </div>

    </section>

    <footer>
        <p class="leading15">Bitcount, PowerLift, Presti, Productus, Proforma, Responder and Upgrade are registered trademarks of TYPETR | Buro Petr van Blokland + Claudia Mens<br/>
        Copyright © 2025 TYPETR | Buro Petr van Blokland + Claudia Mens | <a href="licensing.html">Licensing</a> | <a href="legal.html">Terms, conditions &amp; privacy</a></p> 
    </footer>


    <fontdue-store-modal></fontdue-store-modal> <!-- Supported the [buy] button -->

    <script src="js/scripts.js"></script>
</body>
</html>
