<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>TYPETR | Proforma&nbsp;Pro</title>
    <link rel="icon" type="image/x-icon" href="images/logos/typetr.ico">
    <meta name="description" content="TYPETR offers high-quality font licenses for desktop, web, and app use. Explore modern, professional, and multilingual typefaces.">
    <link rel="canonical" href="https://typetr.com/">

    <!-- Favicons -->
    <link rel="icon" href="/images/logos/typetr.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logos/typetr.png">

    <!-- ✅ Performance Hints -->
    <link rel="preconnect" href="https://fonts.fontdue.com/typetr">
    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">

    <!-- Presti VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MjEzMTQ3MzM3OTY0NjY3OTIxMw%3D%3D.css" rel="stylesheet">  

    <!-- Presti Display -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4MDM2NDg2NzUyOTI5OA%3D%3D.css" rel="stylesheet">

    <!-- Presti Deck -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDIwOTIwNzE5MjI1Nw%3D%3D.css" rel="stylesheet">  
    
    <!-- Presti Text -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NDUxMTg5MzMzNDc2OA%3D%3D.css" rel="stylesheet">

    <!-- Responder P VF -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ%3D%3D.css" rel="stylesheet">

    <!-- Proforma Classic Ultra Light
         Proforma Classic Ultra Light Italic
         Proforma Classic Light
         Proforma Classic Light Italic
         Proforma Classic Book
         Proforma Classic Book Italic
         Proforma Classic Medium
         Proforma Classic Medium Italic
         Proforma Classic Semi Bold
         Proforma Classic Semi Bold Italic
         Proforma Classic Bold
         Proforma Classic Bold Italic
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5MzI5Mjk1Mzk3MTYyOQ%3D%3D.css" rel="stylesheet">

    <!-- Proforma Pro
        font-family: Proforma Pro VF Regular; font-variation-settings: 'opsz' 16, 'wght' <wght>;
        Thin - 100
        ExtraLight - 200
        Light - 300;
        SemiLight - 350
        Book - 365
        Normal - 380
        Regular - 400
        Medium - 500
        SemiBold - 600
        Bold - 700
        ExtraBold - 800
        Black - 900

        font-family: Proforma Pro VF Regular Italic; font-variation-settings: 'opsz' 16, 'wght' <wght>;
        Thin - 100
        ExtraLight - 200
        Light - 300;
        SemiLight - 350
        Book - 365
        Normal - 380
        Regular - 400
        Medium - 500
        SemiBold - 600
        Bold - 700
        ExtraBold - 800
        Black - 900

        font-family: Proforma Pro VF Regular; font-variation-settings: 'opsz' 10, 'wght' <wght>;
        Tx Thin - 100
        Tx ExtraLight - 200
        Tx Light - 300;
        Tx SemiLight - 350
        Tx Book - 365
        Tx Normal - 380
        Tx Regular - 400
        Tx Medium - 500
        Tx SemiBold - 600
        Tx Bold - 700
        Tx ExtraBold - 800
        Tx Black - 900

        font-family: Proforma Pro VF Regular Italic; font-variation-settings: 'opsz' 10, 'wght' <wght>;
        Tx Thin - 100
        Tx ExtraLight - 200
        Tx Light - 300;
        Tx SemiLight - 350
        Tx Book - 365
        Tx Normal - 380
        Tx Regular - 400
        Tx Medium - 500
        Tx SemiBold - 600
        Tx Bold - 700
        Tx ExtraBold - 800
        Tx Black - 900

    -->    
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MjE0NzY1NDUyMTkyNDAwNDIzMg%3D%3D.css" rel="stylesheet">


    <!-- Productus Book
         Productus Book Italic
         Productus Medium
         Productus Medium Italic
         Productus Semi Bold
         Productus Semi Bold Italic
         Productus Bold
         Productus Bold Italic
         Productus Black
         Productus Black Italic
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4OTE0MDgxMTExNTM4Mg%3D%3D.css" rel="stylesheet">

    <!-- PowerLift Tight 
         PowerLift Tight Outline 
    -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ4NTEzMjQ1NzM4ODg4NQ%3D%3D.css" rel="stylesheet">

    <!-- Bitcount Mono -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5Nzk0NTI3NTk2NzcyNA%3D%3D.css" rel="stylesheet">

    <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.com/fontdue.js"></script>

    <script>
        fontdue.initialize({
            url: "https://store.typetr.com",
            config: {
            typeTester: {      
              min: 6,
              max: 480,
              selectable: true,
              textInput: true,
              groupEdit: false,
              initialMode: 'local',
              truncate: 'true',
              shy: false,
              buyButton: false,
              selectButtonLabel: 'Add to cart',
              selectButtonStyle: 'solid',
              },
          },
    });
  </script>

    <link rel="stylesheet" href="css/styles.css">
     
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/logo-TYPETRY.gif" alt="Logo">
            </a>
        </div>
        <div class="smallLogo">
            <a href="index.html">
                TYPETR
            </a>
        </div>
        <div class="familyName proforma-pro-regular" onclick="document.getElementById('popup').style.display='block'">
            Proforma&nbsp;Pro&nbsp;<span class="andMore upgrade-thin">and more...</span>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><fontdue-cart-button button-style="inline" label="Cart"></fontdue-cart-button></li>
                <li><a href="index.html" class="current">Fonts</a></li>
                <li><a href="custom.html">Custom</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="document.getElementById('box').style.display='block'">
            ☰
        </div>
    </header>

    <div id="box" class="box">
        <nav id="menuBox" class="menuBox">
            <span class="close" onclick="document.getElementById('box').style.display='none'">&times;</span>
            <h2><fontdue-cart-button button-style="inline" label="Cart"></fontdue-cart-button></h2>
            <h2><a href="index.html">Fonts</a></h2>
            <h2><a href="custom.html">Custom</a></h2>
            <h2><a href="about.html">About</a></h2>
            <h2><a href="contact.html">Contact</a></h2>
        </nav>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="document.getElementById('popup').style.display='none'">&times;</span>
        <div class="column font-selector size36 leading14">
          <p class="proforma-pro"><a href="proforma-pro.html">Proforma&nbsp;Pro</a></p> 
          <p class="proforma-classic"><a href="proforma-classic.html">Proforma&nbsp;Classic</a></p> 
          <p class="upgrade"><a href="upgrade.html">Upgrade</a></p>
          <p class="presti"><a href="presti.html">Presti</a></p> 
          <p class="responder-p"><a href="responder-p.html">Responder&nbsp;P</a></p> 
          <p class="powerlift-outline"><a href="powerlift.html">PowerLift</a></p>
          <p class="productus"><a href="productus.html">Productus</a></p> 
          <p class="bitcount"><a href="bitcount.html">Bitcount</a></p> 
        </div>
      </div>
    </div>

    <section class="content"> <!-- Page navigation, main intro -->

        <div class="row">
            <div class="titleImage" style="background-image: url('images/2025/Upgrade-animation.gif');">
            </div>
        </div>
        <div class="row">
            <div class="column14 topline ab">
                <div class="sticky">
                    <div class="responsiveHide">
                        <button class="buy-button upgrade" 
                            type="button"
                            fontdue-click="open-store-modal"
                            fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw==">
                            Add to cart
                        </button>
                        <h2><a href="#weightsStyles">Weights &amp; styles</a></h2>
                        <h2><a href="#openTypeFeatures">OpenType features</a></h2>
                        <h2><a href="#glyphSet">Glyph set</a></h2>
                        <h2><a href="#versions">Versions</a></h2>
                    </div>
                    <div class="responsiveShow">
                        <button class="buy-button upgrade" 
                            type="button"
                            fontdue-click="open-store-modal"
                            fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw==">
                            Add to cart
                        </button>
                        <h2><a href="#weightsStyles">Weights &amp; styles</a></h2>
                        <h2><a href="#openTypeFeatures">OpenType features</a></h2>
                        <h2><a href="#versions">Versions</a></h2>
                    </div>
                </div>
            </div>
            <div class="column34 proforma-pro-normal topline">
                <h1 class="proforma-pro-bold size36">Proforma&nbsp;Pro</h1>
                <p class="proforma-pro-normal  size24 leading14">Petr van Blokland designed Proforma in the mid-1980s. It was one of the reasons that ATypI awarded him the prestigious Prix Charles Peignot prize for distinguished typographic achievement. For good reason, in the intervening 40-plus years, Proforma has secured its place in font history as a modern-day classic, even appearing in all-time top 100 typeface lists as a mainstay of exceptional contemporary type design. During those same decades, font technology evolved, including the broad adoption of watershed technologies like PostScript in the 1980s and OpenType in the ’90s — it was time to update this classic for this and future centuries.</p>

                <p class="proforma-pro-normal  size24 leading14">The new Proforma Pro has undergone significant cosmetic and technical improvements. The typeface has been completely remastered. OpenType small capitals are now part of the fonts, two new weights have been added, and brand-new variable fonts, with weight and optical size axes, are now part of the extended family, making Proforma Pro, with more than 2,000 glyphs per font, more versatile than ever across a huge range of text and display sizes.</p>

                <p class="proforma-pro-normal  size24 leading14">Everything that has, for decades, made Proforma great is still there, of course — its distinctive serifs, broad language support, including Vietnamese, and script support for Latin, Greek, and Cyrillic, with additional Cyrillic support for Ukrainian, Serbian, and Bulgarian. Proforma Pro is a distinctive design with plenty of personality without ever resorting to fussy details and distracting gimmicks. Its structure, clarity, and spacing make it ideally suited to all kinds of texts. At its core, it’s a typeface designed to be read.</p>

                <p class="proforma-pro-normal  size24 leading14">A personable, beautifully designed typeface, the new and improved Proforma Pro is a hard-working serif family that excels in all kinds of texts across digital and print media. Proforma has long been a strong favorite with book and magazine designers — the new Proforma Pro respects Proforma’s storied legacy while making a beloved font family even better.</p>

            </div>
        </div>
    </section>

    <nav class="sectionNav">
        <div class="responsiveHide">
            <ul class="sectionNavList stickyElement">
                <li><a href="#weightsStyles">Weights &amp; styles</a></li>
                <li><a href="#openTypeFeatures">OpenType features</a></li>
                <li><a href="#glyphSet">Glyph set</a></li>
                <li><a href="#versions">Versions</a></li>
            </ul>
        </div>
        <div class="responsiveShow">
            <ul class="sectionNavList stickyElement">
                <li><a href="#weightsStyles">Weights &amp; styles</a></li>
                <li><a href="#versions">Versions</a></li>
            </ul>
        </div>
    </nav>

    <section class="content"> <!-- Type tester with family name on full width -->
        <div class="row"> 
            <div class="type-tester">
                <fontdue-type-testers collection-id="Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw=="></fontdue-type-testers>
            </div>
        </div>
    </section>

    <section class="content" id="weightsStyles"> <!-- Weights &amp; styles -->
        <div class="row">
            <div class="column14 topline">
                <div style="margin: 20px">
                    <button class="buy-button upgrade" 
                        type="button"
                        fontdue-click="open-store-modal"
                        fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ=="
                        >
                        <!--fontdue-store-select="U2t1OjE5MjA0OTUyMjgzOTg3NzQyOTM="-->
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="column34 topline">
                <h1 class="proforma-pro-bold size36">Proforma&nbsp;Pro<span class="proforma-pro-regular size24"> weights &amp; styles</span></h1>
            </div>
        </div>

        <div class="row responsiveHide"> <!-- Proforma Pro type tester -->
            <div class="type-tester">
                <fontdue-type-testers collection-id="Rm9udENvbGxlY3Rpb246MjE0NzY1NjE0NzM1OTQxMDU3Ng=="></fontdue-type-testers>
            </div>
        </div>
        <div class="row smallWeightTester">
            <div class="proforma-pro-thin size80">Proforma&nbsp;Pro
            <span class="proforma-pro-thin-italic size80">Italic</span></div>
            <div class="proforma-pro-thin size80">Proforma&nbsp;Pro
            <span class="proforma-pro-thin-italic size80">Italic</span></div>
        </div>
    </section>

    <section class="content" id="openTypeFeatures"> <!-- OpenType features -->
        <div class="row">
            <div class="column14 topline">
                <div style="margin: 20px">
                    <button class="buy-button upgrade" 
                        type="button"
                        fontdue-click="open-store-modal"
                        fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ=="
                        >
                        <!--fontdue-store-select="U2t1OjE5MjA0OTUyMjgzOTg3NzQyOTM="-->
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="column34 topline">
                <h1 class="proforma-pro-bold size36">Proforma&nbsp;Pro<span class="proforma-pro-regular"> OpenType features</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="column14">
                <div style="margin: 0px auto 0px auto">
                    <img class="responsiveHide" width="100%" src="images/2018/Upgrade-otfeaturesmenu.png">
                </div>
            </div>
            <div class="column34 proforma-pro-regular">
                <p class="size24">The TYPETR Proforma&nbsp;Pro family implements an extended OpenType feature set.</p>

                <div class="features">                                                                                                                             
                    <h4>CSS standard ligatures [clig]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;" class="no-clig">file, fjord, flow, elfkin, halfback, leafhopper (off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="clig">file, fjord, flow, elfkin, halfback, leafhopper (on)</div>
                </div>    

                <div class="features">
                    <h4>CSS tabular figures [tnum]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">0123456789 (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="tnum">0123456789 (on)</div>
                </div>    
                 
                <div class="features">
                    <h4>CSS oldstyle figures [onum]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">ABC 0123456789 abc (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="onum">ABC 0123456789 abc (on)</div>
                </div>    
                 
                <div class="features">                    
                    <h4>CSS superior figures [sups]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">A0B1C2D3E4F5G6H7I8J9 (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="sups">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>    
                 
                <div class="features">                                        
                    <h4>CSS superior lowercase [sups]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">AaBbCcDdEeFfGgHhIiJjKkLlMm... (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="sups">AaBbCcDdEeFfGgHhIiJjKkLlMm... (on)</div>
                </div>    
                 
                <div class="features">
                    <h4>CSS numerator figures [numr]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">A0B1C2D3E4F5G6H7I8J9 (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="numr">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>    
                 
                <div class="features">
                    <h4>CSS denomunator figures [dnom]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">A0B1C2D3E4F5G6H7I8J9 (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="dnom">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>    
                 
                <div class="features">                    
                    <h4>CSS inferior figures [sinf]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">A0B1C2D3E4F5G6H7I8J9 (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="sinf">A0B1C2D3E4F5G6H7I8J9 (on)</div>
                </div>    
                 
                <div class="features">
                    <h4>CSS inferior lowercase [sinf]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">AaBbCcDdEeFfGgHhIiJjKkLlMm... (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="sinf">AaBbCcDdEeFfGgHhIiJjKkLlMm... (on)</div>
                </div>    
                 
                <div class="features">
                    <h4>CSS fractions [frac] using numerator/denominator figures</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">1/2 1/3 1/4 1/5 234/567 (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="frac"> 1/2 1/3 1/4 1/5 234/567 (on)</div>
                </div>    
                 
                <div class="features">                    
                    <h4>CSS caps to small caps [c2sc]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">Design is Detail Management (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="c2sc">Design is Detail Management (on)</div>
                </div>    
                 
                <div class="features">                    
                    <h4>CSS lowercase to small caps [smcp]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">Design is Detail Management (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="smcp">Design is Detail Management (on)</div>
                </div>    
                 
                <div class="features">                    
                    <h4>CSS caps and lowercase to small caps [c2sc] + [smcp]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">Design is Detail Management (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="c2sc-smcp">Design is Detail Management (on)</div>
                </div>    
                 
                <div class="features">                   
                    <h4>CSS no A-n connects [ss04]</h4>
                    <div style="line-height: 1.4em;font-size: 2em;">Design is Detail Management (default off)</div>
                    <div style="line-height: 1.4em;font-size: 2em;" class="c2sc-smcp">Design is Detail Management (on)</div>
                 </div>    

            </div>
        </div>
    </section>

    <section class="content" id="glyphSet"> <!-- Glyph set -->
        <div class="row responsiveHide">
            <div class="column14 topline">
                <div style="margin: 20px">
                    <button class="buy-button upgrade" 
                        type="button"
                        fontdue-click="open-store-modal"
                        fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw==">
                        <!--fontdue-store-select="U2t1OjE5MjA0OTUyMjgzOTg3NzQyOTM="-->
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="column34 topline">
                <h1 class="proforma-pro-bold size36">Proforma&nbsp;Pro<span class="proforma-pro-regular size36"> glyph set</span></h1>
            </div>
        </div>

        <div class="row responsiveHide"> <!-- Upgrade type tester -->
            <div class="type-tester">
                <fontdue-character-viewer collection-id="Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw=="></fontdue-character-viewer>
            </div>
        </div>

    </section>

    <section class="content" id="versions"> <!-- Versions -->
        <div class="row responsiveHide">
            <div class="column14 topline">
                <div style="margin: 20px">
                    <button class="buy-button upgrade" 
                        type="button"
                        fontdue-click="open-store-modal"
                        fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MjAwNTQyNzc2NDEzNjE1OTkxNw==">
                        <!--fontdue-store-select="U2t1OjE5MjA0OTUyMjgzOTg3NzQyOTM="-->
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="column34 topline">
                <h1 class="proforma-pro-bold size36">Versions</h1>
                <ul>
                    <li class="proforma-pro-bold size24">1.00<span class="proforma-pro-regular"> - Released 30 January 2026</span></li>
                </ul>
            </div>
        </div>

    </section>


    <footer>
        <p class="leading15">Copyright © 2026 TYPETR | Buro&nbsp;Petr&nbsp;van&nbsp;Blokland&nbsp;+ Claudia&nbsp;Mens | <a href="licensing.html">Licensing</a> | <a href="legal.html">Terms, conditions &amp; privacy</a><br/>Bitcount, PowerLift, Presti, Productus, Proforma, Responder and Upgrade are registered trademarks of TYPETR</p> 
    </footer>

    <fontdue-store-modal></fontdue-store-modal> <!-- Supported the [buy] button -->

    <script src="js/scripts.js"></script>
</body>
</html>
