<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TYPETR Responder&nbsp;P</title>
    <link rel="icon" type="image/x-icon" href="images/logos/typetr.ico">

    <!-- Upgrade -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MTkyMDQ5NTAxMjU0MzExMzIzNQ%3D%3D.css" rel="stylesheet">
    
    <!-- Responder M -->
    <link href="https://fonts.fontdue.com/typetr/css/Rm9udENvbGxlY3Rpb246MjAwNzQwMDAwNzcxNjIxOTg1Mw%3D%3D.css" rel="stylesheet">

    <script>
     fontdue.initialize({
        url: "https://store.typetr.com",
      config: {
        typeTester: {      
          min: 6,
          max: 480,
          selectable: true,
          textInput: true,
          groupEdit: false,
          initialMode: 'local',
          truncate: 'true',
          shy: false,
          buyButton: false,
          selectButtonLabel: 'Buy',
          selectButtonStyle: 'solid',
          },
      },
    });
  </script>
    
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="images/logos/type-try-logo.gif" alt="Logo">
            </a>
        </div>
        <div class="familyName responder-p" onclick="document.getElementById('popup').style.display='block'">
            Responder&nbsp;P&nbsp;&nbsp;<span class="upgrade-thin">and more...</span>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>-->
                <li><a href="eulas.html">EULA’s</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            ☰
        </div>
    </header>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="document.getElementById('popup').style.display='none'">&times;</span>
        <section class="content">
          <div class="row">
            <div class="column font-selector size36 leading14">
              <p class="proforma-pro"><a href="proforma-pro.html">Proforma&nbsp;Pro</a></p>
              <p class="proforma-classic"><a href="proforma-classic.html">Proforma&nbsp;Classic</a></p> 
              <p class="upgrade"><a href="upgrade.html">Upgrade</a></p>
              <p class="presti"><a href="presti.html">Presti&nbsp;</a></p> 
              <p class="responder-p"><a href="responder-p.html">Responder&nbsp;P</a></p> 
              <p class="powerlift-outline"><a href="powerlift.html">PowerLift</a></p> 

              <p class="productus"><a href="productus.html">Productus</a></p> 
              <p class="bitcount"><a href="bitcount.html">Bitcount</a></p> 
            </div>
          </div>
        </section>
      </div>
    </div>

    <section class="content">

        <div class="row type-tester"> <!-- Responder P type tester -->
            <fontdue-type-testers collection-id="Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ=="></fontdue-type-testers>        
        </div>

        <div class="row">
            <div class="column">
                <div class="image" style="background-image: url('images/2025/Upgrade-NoordzijCube-test-x-1000MMTransp.gif');"></div>
            </div>
            <div class="column responder-p">
                <h1 class="responder-p-bold size36">Responder&nbsp;P</h1>
                <p class="size28"> <!-- Slightly larger from .size24 -->
                    TYPETR Responder P captures the character of Petr’s handwriting, blending authenticity with typographic control. With a range of OpenType features, you can fine-tune its appearance—adjusting <span class="smallcaps">small caps</span>, alternates, and connection levels to suit everything from casual notes to expressive branding. It’s handwriting, refined for design.
                </p>
                <button class="buy-button upgrade" 
                    type="button"
                    fontdue-click="open-store-modal"
                    fontdue-store-route="product/Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE3NzEzODQyMDY1Nw=="
                    fontdue-store-select="U2t1OjE5MjA0ODE0NDY2MDM2OTY3NzA="
                    >
                    Add Responder P to cart
                </button>
            </div>
        </div>
    </section>

    <section>
        <div class="row type-tester"> <!-- Responder P character viewer -->
            <fontdue-character-viewer collection-id="Rm9udENvbGxlY3Rpb246MTkyMDQ5NDE4MDMzNDQ4MDM0NQ=="></fontdue-character-viewer>
        </div>
    </section>

    <footer>
        <p>Copyright © 2025 TYPETR | Buro Petr van Blokland + Claudia Mens</p>
        <p>Bitcount, PowerLift, Presti, Productus, Proforma, Responder and Upgrade are registered trademarks by TYPETR | Buro Petr van Blokland + Claudia Mens 
        </p> 
    </footer>

    <fontdue-store-modal></fontdue-store-modal> <!-- Supported the [buy] button -->

    <script src="js/scripts.js"></script>
</body>
</html>
